<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/bluedevil-5.22.4.tar.xz">bluedevil-5.22.4</a></td>
   <td align="right">159kB</td>
   <td><tt>40f19b3b66737f4dabd49f05450d91fc850d27e9b4abdeb112c7d9e70d997881</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/breeze-5.22.4.tar.xz">breeze-5.22.4</a></td>
   <td align="right">32MB</td>
   <td><tt>7d792b7f97e6d5854d81b4098edefd62a8e5b309e471ab39ada679a52ecf9fac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/breeze-grub-5.22.4.tar.xz">breeze-grub-5.22.4</a></td>
   <td align="right">2.9MB</td>
   <td><tt>2cb0bea30b1ff2f69e3245b455799e39040526b4c8d1aecd312d02340786f4a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/breeze-gtk-5.22.4.tar.xz">breeze-gtk-5.22.4</a></td>
   <td align="right">46kB</td>
   <td><tt>8b69b4e74594b49e3cee62fbffab875442f6b9d0d6432972b800c82eb2de87dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/breeze-plymouth-5.22.4.tar.xz">breeze-plymouth-5.22.4</a></td>
   <td align="right">106kB</td>
   <td><tt>3f5dc5b2501bacbef89025f28a8d28e96835edb439e5f0b560fe414791953a2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/discover-5.22.4.tar.xz">discover-5.22.4</a></td>
   <td align="right">8.0MB</td>
   <td><tt>6ff39f2dfd898af867c55fdac1cf48a3adc4ca90bf3fee0d8f2fa7ed5d584746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/drkonqi-5.22.4.tar.xz">drkonqi-5.22.4</a></td>
   <td align="right">763kB</td>
   <td><tt>7c50683a24c6d50021123ebe9ba9fd4b8bbd54c160fc422f519c5a1641d9c5b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kactivitymanagerd-5.22.4.tar.xz">kactivitymanagerd-5.22.4</a></td>
   <td align="right">100kB</td>
   <td><tt>db87d0eb15a81117e31937078b095939e23c375fd939fe0ac1d4edec31ada0ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kde-cli-tools-5.22.4.tar.xz">kde-cli-tools-5.22.4</a></td>
   <td align="right">611kB</td>
   <td><tt>44e2e379ef8e3d09cc8ec4db5564dec3d42a48dfb690c4ae9438189cd4ba08ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kdecoration-5.22.4.tar.xz">kdecoration-5.22.4</a></td>
   <td align="right">46kB</td>
   <td><tt>90e9bfeb2bd6afdd86ef8b18370a04d3e2e01841def635d25b349551a7a68031</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kde-gtk-config-5.22.4.tar.xz">kde-gtk-config-5.22.4</a></td>
   <td align="right">69kB</td>
   <td><tt>a8df53067f2392e6c8e0d7a234771374d832a91c0fdfed1b3bd197797f5ea634</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kdeplasma-addons-5.22.4.tar.xz">kdeplasma-addons-5.22.4</a></td>
   <td align="right">619kB</td>
   <td><tt>607206ef5153602433413a34202075dbb518299db094b0ad3b50b20f70258eba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kgamma5-5.22.4.tar.xz">kgamma5-5.22.4</a></td>
   <td align="right">81kB</td>
   <td><tt>b4b59897426f941a2681aaf0b41b932c1da0e00efd9e7df8b919c730404cfd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/khotkeys-5.22.4.tar.xz">khotkeys-5.22.4</a></td>
   <td align="right">1.7MB</td>
   <td><tt>e8e191cbfc5b9b59e428aa3d08e2f8482b6d4b7e4dd26f37b4a7fa9b57eea1d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kinfocenter-5.22.4.tar.xz">kinfocenter-5.22.4</a></td>
   <td align="right">1.1MB</td>
   <td><tt>7cff6a49506f9dce828c486be0a473893533d37b0e801b5d580e763764f96e93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kmenuedit-5.22.4.tar.xz">kmenuedit-5.22.4</a></td>
   <td align="right">878kB</td>
   <td><tt>0b243bc8bb2cba4eebff55e7a01be5c7790da1fafd88d17bad808e5ffc44d2a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kscreen-5.22.4.tar.xz">kscreen-5.22.4</a></td>
   <td align="right">114kB</td>
   <td><tt>27f8d52b52c3cee0b9def5bf2fc85916e29495b4b1e1d14dfd99f452ae3a7642</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kscreenlocker-5.22.4.tar.xz">kscreenlocker-5.22.4</a></td>
   <td align="right">114kB</td>
   <td><tt>328570e8f08fc2a92fb4ce67e57e53ecf4cc6b28a0507ba031e340748632ec44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/ksshaskpass-5.22.4.tar.xz">ksshaskpass-5.22.4</a></td>
   <td align="right">23kB</td>
   <td><tt>cea4f3e8fd496cc92701b562e1dedcf1a8b174cdc71d4106f2322cdcc3cfc205</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/ksystemstats-5.22.4.tar.xz">ksystemstats-5.22.4</a></td>
   <td align="right">84kB</td>
   <td><tt>6fefe801205558d823d09877ad561eb8c9685d2da3d4b4349b0b9f0d121a5fb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kwallet-pam-5.22.4.tar.xz">kwallet-pam-5.22.4</a></td>
   <td align="right">19kB</td>
   <td><tt>984b805808640771795524a7e1a3862edc0f05925d3d19a37643efb9e5cb59d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kwayland-integration-5.22.4.tar.xz">kwayland-integration-5.22.4</a></td>
   <td align="right">22kB</td>
   <td><tt>cb068ad16d5275e4875c8d53230e7974003733e7fc2db944522922bac700d49e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kwayland-server-5.22.4.tar.xz">kwayland-server-5.22.4</a></td>
   <td align="right">213kB</td>
   <td><tt>da167417221610d521fefbe4ae1322aa20e7d6ac782cadcb61972f915589767c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kwin-5.22.4.tar.xz">kwin-5.22.4</a></td>
   <td align="right">6.1MB</td>
   <td><tt>b02a1c4c1f85d11f1206d364ffdcf242ba658046cb80751f0d769e15151aa3f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/kwrited-5.22.4.tar.xz">kwrited-5.22.4</a></td>
   <td align="right">20kB</td>
   <td><tt>9158fb7dc963e01c356cf5572910d72e2914a749e3dd46956898a35d1c5e73e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/layer-shell-qt-5.22.4.tar.xz">layer-shell-qt-5.22.4</a></td>
   <td align="right">17kB</td>
   <td><tt>1528e64b441f2c67c71f87785485644376391489fdef9a9de0c0034517993886</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/libkscreen-5.22.4.tar.xz">libkscreen-5.22.4</a></td>
   <td align="right">93kB</td>
   <td><tt>a211b9b900ced93f506936bfb1e28ec19aa52ebec4cb08e8a15e382114fc557c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/libksysguard-5.22.4.tar.xz">libksysguard-5.22.4</a></td>
   <td align="right">719kB</td>
   <td><tt>80b1fb5ba0a2482700d46ecfb3e915380c120c09edc276333fee997ff4330692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/milou-5.22.4.tar.xz">milou-5.22.4</a></td>
   <td align="right">51kB</td>
   <td><tt>7aa04f355c7a9ac6ee089a17aa34d0607b230c9b09a3e99a57317f3fe44aca85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/oxygen-5.22.4.tar.xz">oxygen-5.22.4</a></td>
   <td align="right">4.2MB</td>
   <td><tt>fcdf1aafde0748e81b82410fbc4ddb01f15f7a57ec17ef17e05d80e8339db0dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-browser-integration-5.22.4.tar.xz">plasma-browser-integration-5.22.4</a></td>
   <td align="right">209kB</td>
   <td><tt>0b22ec790f9a5ab1afad4ba1828fdaa57729d33e838c0e215d12a877ce5d7808</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-desktop-5.22.4.tar.xz">plasma-desktop-5.22.4</a></td>
   <td align="right">15MB</td>
   <td><tt>728e9f8ec670f4f0370c9cc86ede317c682f95f3655bddcf8bb06a38192d4230</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-disks-5.22.4.tar.xz">plasma-disks-5.22.4</a></td>
   <td align="right">82kB</td>
   <td><tt>57f915c51e07741d7084fe729a337da4a465a58deefbefd297d0e1a9cca87909</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-firewall-5.22.4.tar.xz">plasma-firewall-5.22.4</a></td>
   <td align="right">331kB</td>
   <td><tt>21dd972abbca56ae7760acbe39b50d5e39d2057e987a8dcdd2a4c142dafd35b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-integration-5.22.4.tar.xz">plasma-integration-5.22.4</a></td>
   <td align="right">64kB</td>
   <td><tt>e08b0c8030ef465d44de4f460d71970f15c7697c7d3095afa9d07b2d41a45467</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-nano-5.22.4.tar.xz">plasma-nano-5.22.4</a></td>
   <td align="right">63kB</td>
   <td><tt>2051929271e7be0bc38febeb21cc11567c30af0da809a24f7043ce07af3de5a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-nm-5.22.4.tar.xz">plasma-nm-5.22.4</a></td>
   <td align="right">879kB</td>
   <td><tt>c8043d33023aae1087a8d35800575ee9df710f35ec996fb9fc7ecc8f35576eb3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-pa-5.22.4.tar.xz">plasma-pa-5.22.4</a></td>
   <td align="right">124kB</td>
   <td><tt>8a5b5b212c0f08e2c5e9f0ee7f5d62b0adf6008b69d337cede3ca18b800700dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-phone-components-5.22.4.tar.xz">plasma-phone-components-5.22.4</a></td>
   <td align="right">1.4MB</td>
   <td><tt>abbc3d5ddc82a19b8188772ed38534fa911d9119c1a3e48e2f62e4ddab3a7956</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-sdk-5.22.4.tar.xz">plasma-sdk-5.22.4</a></td>
   <td align="right">263kB</td>
   <td><tt>0e5accaaf28de37240c95597d432d2ca941ee5f379eb0553c9bc08e7d61f305b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-systemmonitor-5.22.4.tar.xz">plasma-systemmonitor-5.22.4</a></td>
   <td align="right">132kB</td>
   <td><tt>8b0d43e91d8ba368fed96d63b34aee7f401a9c0cc47533b363bca365a69c86be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-tests-5.22.4.tar.xz">plasma-tests-5.22.4</a></td>
   <td align="right">1kB</td>
   <td><tt>02610bf099739eb7b2508fceebc92246e9cae3653546ed99f43ed51f011bc3f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-thunderbolt-5.22.4.tar.xz">plasma-thunderbolt-5.22.4</a></td>
   <td align="right">62kB</td>
   <td><tt>e974f54db5fe13731aa8c68976e8eb59ec0ba53ce0d4e1633fd3c152d586b1b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-vault-5.22.4.tar.xz">plasma-vault-5.22.4</a></td>
   <td align="right">166kB</td>
   <td><tt>6938ca9a0a17cbd4a903b967b7c06be765d22bae3e8bcebf35a367a415a2cbdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-workspace-5.22.4.tar.xz">plasma-workspace-5.22.4</a></td>
   <td align="right">7.9MB</td>
   <td><tt>af16b7151d87151a197b8fba41092f14895c0e64bfab05f562f831e18c6120ba</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plasma-workspace-wallpapers-5.22.4.tar.xz">plasma-workspace-wallpapers-5.22.4</a></td>
   <td align="right">48MB</td>
   <td><tt>d9da4dfea96c4aa1a7a9683f887573433777354691850ada62ed54c4221e7f29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/plymouth-kcm-5.22.4.tar.xz">plymouth-kcm-5.22.4</a></td>
   <td align="right">37kB</td>
   <td><tt>c18728daf04d6d151f208c1f477dbd7d52ab2efed31e4f0254b881da224d036e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/polkit-kde-agent-1-5.22.4.tar.xz">polkit-kde-agent-1-5.22.4</a></td>
   <td align="right">44kB</td>
   <td><tt>e2836b462261351cd920a61473c5812a9d2770db20a1cbd22dca248d89cdb95f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/powerdevil-5.22.4.tar.xz">powerdevil-5.22.4</a></td>
   <td align="right">603kB</td>
   <td><tt>d5d01e5017306aff215e6ba3be21c940b7771a599e92445f8526406fb63e829c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/qqc2-breeze-style-5.22.4.tar.xz">qqc2-breeze-style-5.22.4</a></td>
   <td align="right">64kB</td>
   <td><tt>6cdf6f2c29faf47fa2f70f2d3519179691ad90471905ae50e073f84c98cc0996</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/sddm-kcm-5.22.4.tar.xz">sddm-kcm-5.22.4</a></td>
   <td align="right">63kB</td>
   <td><tt>e4845375ded8d8b1279a340f8c9feed573c301cf1c2b7f9fd2b5288444c34022</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/systemsettings-5.22.4.tar.xz">systemsettings-5.22.4</a></td>
   <td align="right">200kB</td>
   <td><tt>10ed28d66aa7419210013f8a71cf43acdf82155cc47f6a1c9caa41a37480e2aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.22.4/xdg-desktop-portal-kde-5.22.4.tar.xz">xdg-desktop-portal-kde-5.22.4</a></td>
   <td align="right">85kB</td>
   <td><tt>f5fc9eb06d63d7a4c057b2c6cb496c66e7491e5a4a4a0846a10c18be8ce1b4f6</tt></td>
</tr>

</table>
