<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/bluedevil-5.20.2.tar.xz">bluedevil-5.20.2</a></td>
   <td align="right">152kB</td>
   <td><tt>0f3154ced1f44595993694954a640d8a1b2fa1cadaa50efcd07454e5c13ca19e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/breeze-5.20.2.tar.xz">breeze-5.20.2</a></td>
   <td align="right">14MB</td>
   <td><tt>e1c1643221d9cb246cab5c7d9423effee5fe23c22785d20c0d0e841f1ced6793</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/breeze-grub-5.20.2.tar.xz">breeze-grub-5.20.2</a></td>
   <td align="right">2.9MB</td>
   <td><tt>a2193c8cbe3ba18c5d2777f0cd70da603775c7a0b5c810e5b20561328d422125</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/breeze-gtk-5.20.2.tar.xz">breeze-gtk-5.20.2</a></td>
   <td align="right">42kB</td>
   <td><tt>e2792cf9e434864f466b3823663c976aa77f22cebd5cdb9d3d30e5abaacc1b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/breeze-plymouth-5.20.2.tar.xz">breeze-plymouth-5.20.2</a></td>
   <td align="right">106kB</td>
   <td><tt>86e43b7bf87eb3d727ececcfdb958abc5f1d213cb10323597e7601f2c40caea2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/discover-5.20.2.tar.xz">discover-5.20.2</a></td>
   <td align="right">9.8MB</td>
   <td><tt>3a92180217fff52ccca26d1a3b467ceff82404ca363d6b1bfcb8a48d967af511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/drkonqi-5.20.2.tar.xz">drkonqi-5.20.2</a></td>
   <td align="right">729kB</td>
   <td><tt>7b9fa6f4c77b5ab4c110bb15ec463b00a7bb94c5af46ff57f249cd71a1947106</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kactivitymanagerd-5.20.2.tar.xz">kactivitymanagerd-5.20.2</a></td>
   <td align="right">92kB</td>
   <td><tt>675d87636398e1236f2c0af7129b961b9ac2feac53cc32d6194da41a026d8972</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kde-cli-tools-5.20.2.tar.xz">kde-cli-tools-5.20.2</a></td>
   <td align="right">583kB</td>
   <td><tt>f78d3eb2a9e37276645d7e9cc2b515d14753d20daf6b45dcc2b4538253c7c13e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kdecoration-5.20.2.tar.xz">kdecoration-5.20.2</a></td>
   <td align="right">44kB</td>
   <td><tt>7b49c0a3a0a7be93127b4b7a7273575a037af5447adf55154cabb2c6f87637f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kde-gtk-config-5.20.2.tar.xz">kde-gtk-config-5.20.2</a></td>
   <td align="right">66kB</td>
   <td><tt>50b73d1d7fb15c99919b841fdc3e663c454ea0a8dca97b4b876581499e9db7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kdeplasma-addons-5.20.2.tar.xz">kdeplasma-addons-5.20.2</a></td>
   <td align="right">612kB</td>
   <td><tt>22df49f743cbb0cdc8a27293a75f2a7df913e88f563cbbdb3980cdd669605017</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kgamma5-5.20.2.tar.xz">kgamma5-5.20.2</a></td>
   <td align="right">79kB</td>
   <td><tt>79720c6899e6edff68692832a84dc3b935929000b90599ae7dd2cbb6a0d784a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/khotkeys-5.20.2.tar.xz">khotkeys-5.20.2</a></td>
   <td align="right">1.7MB</td>
   <td><tt>2e6cc767cb3a967462b295165ee7202f25ddef93205fdb78dcd35020c52dce15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kinfocenter-5.20.2.tar.xz">kinfocenter-5.20.2</a></td>
   <td align="right">1.2MB</td>
   <td><tt>d7650201505477504a812f7923495f2ccf92d85196fc9f9100d6f0c4ede5a141</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kmenuedit-5.20.2.tar.xz">kmenuedit-5.20.2</a></td>
   <td align="right">872kB</td>
   <td><tt>3fa4e940d1c8bfe3e6f47a4bb07e73e802be3b43a8d24c3b3805b7843aa32631</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kscreen-5.20.2.tar.xz">kscreen-5.20.2</a></td>
   <td align="right">111kB</td>
   <td><tt>42d55e891516192773ba1dd405c80c76fef86b7e4e5a6bbea3b9dcf38c713f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kscreenlocker-5.20.2.tar.xz">kscreenlocker-5.20.2</a></td>
   <td align="right">112kB</td>
   <td><tt>2499d88be243d64a854860c2aaa9c03f05f2078419aaf55d7eab65a885c24175</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/ksshaskpass-5.20.2.tar.xz">ksshaskpass-5.20.2</a></td>
   <td align="right">22kB</td>
   <td><tt>0bb099355966adc6f122b2eb5e6cc001f347c878b25a536175054307ab211be4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/ksysguard-5.20.2.tar.xz">ksysguard-5.20.2</a></td>
   <td align="right">546kB</td>
   <td><tt>1fc3529453c38151bebd582da9256907d213b309d7e1f6870b0aac0626208cf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kwallet-pam-5.20.2.tar.xz">kwallet-pam-5.20.2</a></td>
   <td align="right">19kB</td>
   <td><tt>a9461fb1aa387d509d63352f633f1522c65e7850aa78604be3850e748b5a2d7d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kwayland-integration-5.20.2.tar.xz">kwayland-integration-5.20.2</a></td>
   <td align="right">20kB</td>
   <td><tt>62e8f20a613a5e5a2470a029897ad207ce5b3c21ef05cbb2c88d3e8ec215a0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kwayland-server-5.20.2.tar.xz">kwayland-server-5.20.2</a></td>
   <td align="right">215kB</td>
   <td><tt>dfba976a5485ecd92c69154521a773cbb9c51d7f07b9326cd0e80f8ac0bb0af0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kwin-5.20.2.tar.xz">kwin-5.20.2</a></td>
   <td align="right">6.0MB</td>
   <td><tt>79557de888c8cd671ca592b5d105e236c959f877b7e9f836bcd69ddef193759c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/kwrited-5.20.2.tar.xz">kwrited-5.20.2</a></td>
   <td align="right">19kB</td>
   <td><tt>fcd35ce5d380cefa1d346a0a5b802498f9227410cab579aac0bff30322e41ece</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/libkscreen-5.20.2.tar.xz">libkscreen-5.20.2</a></td>
   <td align="right">83kB</td>
   <td><tt>2ee2c77556ac30ec49be5bc7db552332f6b1084f6d7737b711d3c9c01b523c5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/libksysguard-5.20.2.tar.xz">libksysguard-5.20.2</a></td>
   <td align="right">669kB</td>
   <td><tt>9f57a3719d665df6d6b3c494a62bb7d60c79b06f30c0e9c75eb03568d2046d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/milou-5.20.2.tar.xz">milou-5.20.2</a></td>
   <td align="right">53kB</td>
   <td><tt>ae26499141eb277284108c7524dbe11cac7d7dd486ddd8efd8c308d4cf0de980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/oxygen-5.20.2.tar.xz">oxygen-5.20.2</a></td>
   <td align="right">4.2MB</td>
   <td><tt>39adb9cf9cfa2d18ce4fcb36dac01858ea9e8fa8f85487345e0c373319ffacf7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-browser-integration-5.20.2.tar.xz">plasma-browser-integration-5.20.2</a></td>
   <td align="right">186kB</td>
   <td><tt>a657ae29a993b050e293977b6c5a5146b475e97ed798a07003d117170e8797e6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-desktop-5.20.2.tar.xz">plasma-desktop-5.20.2</a></td>
   <td align="right">15MB</td>
   <td><tt>ef569f62740aad3cf6fdea7d2f87c56df84661043a1b9572c12676937ca698b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-disks-5.20.2.tar.xz">plasma-disks-5.20.2</a></td>
   <td align="right">61kB</td>
   <td><tt>2ba7f7f2c0c749f0e736333784d746037dea52106fb8e930d787a9b2389f1db5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-integration-5.20.2.tar.xz">plasma-integration-5.20.2</a></td>
   <td align="right">58kB</td>
   <td><tt>37565fbebcd31fc2fd7c03e778d33716569a225a266cbe7843b633beb78526f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-nano-5.20.2.tar.xz">plasma-nano-5.20.2</a></td>
   <td align="right">33kB</td>
   <td><tt>f4c86648daf14c6d0089d974a12cec5cb0c456b94a3c08c404aff46a8e03481e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-nm-5.20.2.tar.xz">plasma-nm-5.20.2</a></td>
   <td align="right">824kB</td>
   <td><tt>71915af09fd44b4c1783f38bd912e215c003d5df7f73e6fa39daf77579d5b63b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-pa-5.20.2.tar.xz">plasma-pa-5.20.2</a></td>
   <td align="right">109kB</td>
   <td><tt>2011169926b9119c4574979d6fa350f16a9587ebca64a09603e9d93ccea103ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-phone-components-5.20.2.tar.xz">plasma-phone-components-5.20.2</a></td>
   <td align="right">1.4MB</td>
   <td><tt>de759cdcf63a397b71242ec7202200535cb9d065307f07cffb1f721de20e50a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-sdk-5.20.2.tar.xz">plasma-sdk-5.20.2</a></td>
   <td align="right">257kB</td>
   <td><tt>b2db0ee70d7b482fe5f0806302ffeae9d55ba3613b47b2a5e38a1210d78963ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-tests-5.20.2.tar.xz">plasma-tests-5.20.2</a></td>
   <td align="right">1kB</td>
   <td><tt>bc620d2635cb21e4fbd66ab64464cefe464eb495a1499adf2311f6d02e5b48c9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-thunderbolt-5.20.2.tar.xz">plasma-thunderbolt-5.20.2</a></td>
   <td align="right">54kB</td>
   <td><tt>1295793d2e6d1db42a4b18f1bb417d089141643b2d7d473476a4effb3ac8b840</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-vault-5.20.2.tar.xz">plasma-vault-5.20.2</a></td>
   <td align="right">151kB</td>
   <td><tt>13468ca59d26569bd6590af508ca76ffe4bd52042fc0789588cd130cc384c4cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-workspace-5.20.2.tar.xz">plasma-workspace-5.20.2</a></td>
   <td align="right">8.5MB</td>
   <td><tt>2bd71e6054577f881b0fcab7af5c7e1d39db1ef03470fb6e662713559da9e5f4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plasma-workspace-wallpapers-5.20.2.tar.xz">plasma-workspace-wallpapers-5.20.2</a></td>
   <td align="right">43MB</td>
   <td><tt>5a42c1bbdcc158e886a2544e597f60d5010c1815be615f345367484395477d57</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/plymouth-kcm-5.20.2.tar.xz">plymouth-kcm-5.20.2</a></td>
   <td align="right">41kB</td>
   <td><tt>1bccc9ff909d374c18af4371b7c399f0d5767ba112659f38fbdcbc71cbbeac29</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/polkit-kde-agent-1-5.20.2.tar.xz">polkit-kde-agent-1-5.20.2</a></td>
   <td align="right">43kB</td>
   <td><tt>80d261bac52210c609d9bef99deadd22eefc0fb457a9b5a8e687f4af2ada83be</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/powerdevil-5.20.2.tar.xz">powerdevil-5.20.2</a></td>
   <td align="right">592kB</td>
   <td><tt>8fa42d77e21dc29eb5e729102717177b78e8eea0962bc7b856ba56dcce808399</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/sddm-kcm-5.20.2.tar.xz">sddm-kcm-5.20.2</a></td>
   <td align="right">62kB</td>
   <td><tt>632f5bb8546a46c611b50ec9c4058653d7cdcfcd959f19f0b946290807fc050a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/systemsettings-5.20.2.tar.xz">systemsettings-5.20.2</a></td>
   <td align="right">187kB</td>
   <td><tt>0c7e044becc4d492fe5a313911512d7dccc08a4cd7aabfc0bf7cd878240cb6da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.20.2/xdg-desktop-portal-kde-5.20.2.tar.xz">xdg-desktop-portal-kde-5.20.2</a></td>
   <td align="right">79kB</td>
   <td><tt>e026f49aee431a2fa0d3ee191de46e36c4b70d352a4a447fc26e51cc5c97e46c</tt></td>
</tr>

</table>
