
<table class="table" border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/attica-5.113.0.tar.xz">attica-5.113.0</a></td>
   <td align="right">67kB</td>
   <td><tt>a153b2958c3289cdce1010d3c3b9134559d18c1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/baloo-5.113.0.tar.xz">baloo-5.113.0</a></td>
   <td align="right">303kB</td>
   <td><tt>d9c9d01e3a06ea5b5de50b9b4f909bc5c4872e38</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/bluez-qt-5.113.0.tar.xz">bluez-qt-5.113.0</a></td>
   <td align="right">112kB</td>
   <td><tt>972b9f1b215c5d0f7d170f378a4fa70e0ffccb47</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/breeze-icons-5.113.0.tar.xz">breeze-icons-5.113.0</a></td>
   <td align="right">2.0MB</td>
   <td><tt>6053b4910255003d21007669ee42ec6d0213884d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/extra-cmake-modules-5.113.0.tar.xz">extra-cmake-modules-5.113.0</a></td>
   <td align="right">324kB</td>
   <td><tt>8d1351fd12faa331363e1647f33a007b94b53ce1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/frameworkintegration-5.113.0.tar.xz">frameworkintegration-5.113.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>346b6e1c4aa02b4060709ec332a2c30c3ee6de19</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kactivities-5.113.0.tar.xz">kactivities-5.113.0</a></td>
   <td align="right">71kB</td>
   <td><tt>88eaef9435ac92c79c7013795a5301b7160da1ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kactivities-stats-5.113.0.tar.xz">kactivities-stats-5.113.0</a></td>
   <td align="right">82kB</td>
   <td><tt>c26fe6183749d8551af8b82fde7c497499e0aff0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kapidox-5.113.0.tar.xz">kapidox-5.113.0</a></td>
   <td align="right">194kB</td>
   <td><tt>24708a0a2968f3ea86919396c69a474d85c31299</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/karchive-5.113.0.tar.xz">karchive-5.113.0</a></td>
   <td align="right">999kB</td>
   <td><tt>4cf90d182327267be76e766b2da95c813349b910</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kauth-5.113.0.tar.xz">kauth-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>bae04e6ce8a7f67df601b8c90bd0fc6c5fac54b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kbookmarks-5.113.0.tar.xz">kbookmarks-5.113.0</a></td>
   <td align="right">1.0MB</td>
   <td><tt>8164fcf9843f28ac6d6f705af05cc7349d4f6b4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcalendarcore-5.113.0.tar.xz">kcalendarcore-5.113.0</a></td>
   <td align="right">260kB</td>
   <td><tt>fcf5163636a49a8415f3d18bc932118c429363f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcmutils-5.113.0.tar.xz">kcmutils-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>8016f48f5157e4488e1f915c7757b363a6df4607</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcodecs-5.113.0.tar.xz">kcodecs-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>337de5383828616805ea511676985e13a2b724ad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcompletion-5.113.0.tar.xz">kcompletion-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>128f9bd6e81789fba202bb358cf9d3175706268e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kconfig-5.113.0.tar.xz">kconfig-5.113.0</a></td>
   <td align="right">288kB</td>
   <td><tt>d950d199594038570a84dcab1ccc4c42b69c9262</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kconfigwidgets-5.113.0.tar.xz">kconfigwidgets-5.113.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>4f1c13642283a84fbf033a7cd383465916b4c28e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcontacts-5.113.0.tar.xz">kcontacts-5.113.0</a></td>
   <td align="right">209kB</td>
   <td><tt>6dec380cd14fd05bc72a5abfa929368c41f3c609</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcoreaddons-5.113.0.tar.xz">kcoreaddons-5.113.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>33d0b4216baecbf92276eac3982429fd9bade5e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kcrash-5.113.0.tar.xz">kcrash-5.113.0</a></td>
   <td align="right">27kB</td>
   <td><tt>b2266fc62b31b313d1dcbda0c983839251c4bb96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdav-5.113.0.tar.xz">kdav-5.113.0</a></td>
   <td align="right">64kB</td>
   <td><tt>bc6c1412fbfa9234d1279d64b962077dcf1dafaf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdbusaddons-5.113.0.tar.xz">kdbusaddons-5.113.0</a></td>
   <td align="right">47kB</td>
   <td><tt>efa0bd339cfde505225dfddb4e5bf43840696f5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdeclarative-5.113.0.tar.xz">kdeclarative-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c03d5dc14258c70a001f28f6b8973db85a1997cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kded-5.113.0.tar.xz">kded-5.113.0</a></td>
   <td align="right">40kB</td>
   <td><tt>64e2d0ad22291fd07a754efbb370fc1fbb0ba1e3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdesu-5.113.0.tar.xz">kdesu-5.113.0</a></td>
   <td align="right">55kB</td>
   <td><tt>27c0a29892dda21f772b212fbfe3536accb6828e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdnssd-5.113.0.tar.xz">kdnssd-5.113.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>1d156323f1309277743d01d87924ad525ae240fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kdoctools-5.113.0.tar.xz">kdoctools-5.113.0</a></td>
   <td align="right">454kB</td>
   <td><tt>c9a5075fdb1cf7b77ca00d045559034a1d813d71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kemoticons-5.113.0.tar.xz">kemoticons-5.113.0</a></td>
   <td align="right">1.6MB</td>
   <td><tt>1c0e208d66482a7a176619cf0de42eb0c7031bfc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kfilemetadata-5.113.0.tar.xz">kfilemetadata-5.113.0</a></td>
   <td align="right">514kB</td>
   <td><tt>928018dad6225c460cd2024782ee03395e77392f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kglobalaccel-5.113.0.tar.xz">kglobalaccel-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>06a05505cc36d0d249fd78bfebd8b3995308bee0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kguiaddons-5.113.0.tar.xz">kguiaddons-5.113.0</a></td>
   <td align="right">76kB</td>
   <td><tt>27bc780d03032059e44122f2b5766695ec26121c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kholidays-5.113.0.tar.xz">kholidays-5.113.0</a></td>
   <td align="right">249kB</td>
   <td><tt>d767cf2ee7296bad700b16631d7f10219093bfa7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/ki18n-5.113.0.tar.xz">ki18n-5.113.0</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0482942af02947d0f70bb08eaeb97238eb2cc0a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kiconthemes-5.113.0.tar.xz">kiconthemes-5.113.0</a></td>
   <td align="right">1.2MB</td>
   <td><tt>fec04675b3e920286bafa3c47e6e81de1b531b39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kidletime-5.113.0.tar.xz">kidletime-5.113.0</a></td>
   <td align="right">30kB</td>
   <td><tt>5c218b7246c0438c6b09eecfd6b547ccdef0b71b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kimageformats-5.113.0.tar.xz">kimageformats-5.113.0</a></td>
   <td align="right">14MB</td>
   <td><tt>7f816a91a33ef0b009f0b66b63a509240e9e96f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kinit-5.113.0.tar.xz">kinit-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>4c4a55c59e9a489f3c030808a648a94565b49678</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kio-5.113.0.tar.xz">kio-5.113.0</a></td>
   <td align="right">3.6MB</td>
   <td><tt>20fb53cf0aa12285fde8287bf60940bd878e512b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kirigami2-5.113.0.tar.xz">kirigami2-5.113.0</a></td>
   <td align="right">374kB</td>
   <td><tt>392e97230dadf46d49dcd05bbbfe29c4eb2e2adf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kitemmodels-5.113.0.tar.xz">kitemmodels-5.113.0</a></td>
   <td align="right">397kB</td>
   <td><tt>5e7b635e5e4901f21617eda479ce9b6d30dca649</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kitemviews-5.113.0.tar.xz">kitemviews-5.113.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>50beb99d95fe83ecdedbe69a3b8944ff68e5228c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kjobwidgets-5.113.0.tar.xz">kjobwidgets-5.113.0</a></td>
   <td align="right">2.1MB</td>
   <td><tt>5e198dfbb244767ccd4c33e2cdaa8f3bfd60b8ae</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/knewstuff-5.113.0.tar.xz">knewstuff-5.113.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>60ef630128668265a03cee46e4948fc7ea4ff2f3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/knotifications-5.113.0.tar.xz">knotifications-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1ab040130d2673b1da1fa3374756cc6b199209db</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/knotifyconfig-5.113.0.tar.xz">knotifyconfig-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>1c948b19199560f6e1c4f6d70e6eca4e4aca852a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kpackage-5.113.0.tar.xz">kpackage-5.113.0</a></td>
   <td align="right">183kB</td>
   <td><tt>fd69c2886f56b1046f95a1afcb12b8372036c2ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kparts-5.113.0.tar.xz">kparts-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>3df79d4f866adaf12900d92c667297ed2496d0f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kpeople-5.113.0.tar.xz">kpeople-5.113.0</a></td>
   <td align="right">61kB</td>
   <td><tt>5907e376f1438308689628d0ca35e7611903dc48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kplotting-5.113.0.tar.xz">kplotting-5.113.0</a></td>
   <td align="right">32kB</td>
   <td><tt>021c84d8af0d7b6f2c59b541b897006e91346284</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kpty-5.113.0.tar.xz">kpty-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>03f8d7a6d5e06a6b4617e572c8d2f87a49c449a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kquickcharts-5.113.0.tar.xz">kquickcharts-5.113.0</a></td>
   <td align="right">110kB</td>
   <td><tt>603694cad1f783c41027ba58188996a3dd9c4d16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/krunner-5.113.0.tar.xz">krunner-5.113.0</a></td>
   <td align="right">86kB</td>
   <td><tt>614377e57dcf6499a315e759cde5455645246dfe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kservice-5.113.0.tar.xz">kservice-5.113.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>0b705e4a9b4e7748d40fddeda0199a4692d7c168</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/ktexteditor-5.113.0.tar.xz">ktexteditor-5.113.0</a></td>
   <td align="right">2.6MB</td>
   <td><tt>2a55e2297343e1846a4c064de2b60945031622d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/ktextwidgets-5.113.0.tar.xz">ktextwidgets-5.113.0</a></td>
   <td align="right">2.4MB</td>
   <td><tt>3c2466628d80907563c2392676c2c24c22d3c2ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kunitconversion-5.113.0.tar.xz">kunitconversion-5.113.0</a></td>
   <td align="right">909kB</td>
   <td><tt>1006fdc2719abfa1615f896cadfbe226b698f493</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kwallet-5.113.0.tar.xz">kwallet-5.113.0</a></td>
   <td align="right">343kB</td>
   <td><tt>0da3c1dd3d8227890b00cc6eda0a4c602ea800c8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kwayland-5.113.0.tar.xz">kwayland-5.113.0</a></td>
   <td align="right">329kB</td>
   <td><tt>243eb01554db97160aa97fa5a5f7f8af358f08c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kwidgetsaddons-5.113.0.tar.xz">kwidgetsaddons-5.113.0</a></td>
   <td align="right">4.0MB</td>
   <td><tt>2117c640d0fc075b2948f2848028d204d6da15f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kwindowsystem-5.113.0.tar.xz">kwindowsystem-5.113.0</a></td>
   <td align="right">2.2MB</td>
   <td><tt>57306ff0b30ec26cfa3ef264069af45978d07461</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/kxmlgui-5.113.0.tar.xz">kxmlgui-5.113.0</a></td>
   <td align="right">2.8MB</td>
   <td><tt>9d918dd4d96d8a2f00e937e0c9cbb0adc454254a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/modemmanager-qt-5.113.0.tar.xz">modemmanager-qt-5.113.0</a></td>
   <td align="right">118kB</td>
   <td><tt>4564d4e9ee363573de22bad5f265da902c7da115</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/networkmanager-qt-5.113.0.tar.xz">networkmanager-qt-5.113.0</a></td>
   <td align="right">194kB</td>
   <td><tt>7c47dc40bdde12fb1e46655e1f1afd79175ebd43</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/oxygen-icons-5.113.0.tar.xz">oxygen-icons-5.113.0</a></td>
   <td align="right">227MB</td>
   <td><tt>20c222d9d3859d9d3719b321e4a90e10997c61ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/plasma-framework-5.113.0.tar.xz">plasma-framework-5.113.0</a></td>
   <td align="right">3.1MB</td>
   <td><tt>61bd9965619de11736a65bb37437ebadbe6174c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/prison-5.113.0.tar.xz">prison-5.113.0</a></td>
   <td align="right">53kB</td>
   <td><tt>65ed3990e1977f4877cc097b87851a8651bd6c9d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/purpose-5.113.0.tar.xz">purpose-5.113.0</a></td>
   <td align="right">175kB</td>
   <td><tt>df29089aacd8f7460d9113f25f4e597422efe00f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/qqc2-desktop-style-5.113.0.tar.xz">qqc2-desktop-style-5.113.0</a></td>
   <td align="right">67kB</td>
   <td><tt>03cd92c653ab7c484be9f53dc7214118ca58f3c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/solid-5.113.0.tar.xz">solid-5.113.0</a></td>
   <td align="right">299kB</td>
   <td><tt>4fdceec8fd3a8d09d56c4ed10baff1d56904cfdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/sonnet-5.113.0.tar.xz">sonnet-5.113.0</a></td>
   <td align="right">2.3MB</td>
   <td><tt>5c7d6c33c169ddbfcb95bdfe501b40c58f226ff9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/syndication-5.113.0.tar.xz">syndication-5.113.0</a></td>
   <td align="right">498kB</td>
   <td><tt>23f93ed3fa79db26345046ae0879c2f5b34e08f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/syntax-highlighting-5.113.0.tar.xz">syntax-highlighting-5.113.0</a></td>
   <td align="right">3.2MB</td>
   <td><tt>c9fd02ca9e9437529711a98df5bb30ad34010f62</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/frameworks/5.113/threadweaver-5.113.0.tar.xz">threadweaver-5.113.0</a></td>
   <td align="right">1.3MB</td>
   <td><tt>dc53a93bdad71c6c6d9bb9bb8a3046aabcfde3e1</tt></td>
</tr>

</table>
