<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/bluedevil-5.23.5.tar.xz">bluedevil-5.23.5</a></td>
   <td align="right">167kB</td>
   <td><tt>dbb029a6f47b7b7038ede8d0b491b83d54cdb5438784ef9f7f16eba89aab76d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/breeze-5.23.5.tar.xz">breeze-5.23.5</a></td>
   <td align="right">70MB</td>
   <td><tt>2ca2a05b786ccd051e8cb1b0ac665d9443790cfaf15054359fa9adf9613edcdf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/breeze-grub-5.23.5.tar.xz">breeze-grub-5.23.5</a></td>
   <td align="right">3.0MB</td>
   <td><tt>13bbf3b16739cc810f828fa74b6f97dee98b24db84094a40d563d5bc874a358b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/breeze-gtk-5.23.5.tar.xz">breeze-gtk-5.23.5</a></td>
   <td align="right">42kB</td>
   <td><tt>8d4ab66614d148d64690be1fd57b44c5df53c1915f61b975799d5ae19fdbcbfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/breeze-plymouth-5.23.5.tar.xz">breeze-plymouth-5.23.5</a></td>
   <td align="right">107kB</td>
   <td><tt>b3f2e5372730122bcf3e6ec9dcca6d4c7e67c65aabcce5dfc4d142f4616694ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/discover-5.23.5.tar.xz">discover-5.23.5</a></td>
   <td align="right">7.8MB</td>
   <td><tt>f92397fe32b607a507a4b3a8ee52f37358ea75b1a9b3c1bca0f54dc1af3cf7cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/drkonqi-5.23.5.tar.xz">drkonqi-5.23.5</a></td>
   <td align="right">774kB</td>
   <td><tt>a56297409d7c35e8aa85c7369ee3df157646d656bbcbeedbb9af369345815222</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kactivitymanagerd-5.23.5.tar.xz">kactivitymanagerd-5.23.5</a></td>
   <td align="right">101kB</td>
   <td><tt>b6c5c670708ff4e87ecade6ce6e0c65e1009228e15c8aac023c9283254bc6627</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kde-cli-tools-5.23.5.tar.xz">kde-cli-tools-5.23.5</a></td>
   <td align="right">616kB</td>
   <td><tt>4d16ae5a5b0f727cee617c89c6d8fc259e12789c44ba4c77c0b036120ffa0388</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kdecoration-5.23.5.tar.xz">kdecoration-5.23.5</a></td>
   <td align="right">46kB</td>
   <td><tt>48982039397a7a58552d649cf8166dfc27b578cf2cb8c1b59b86785e124512cf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kde-gtk-config-5.23.5.tar.xz">kde-gtk-config-5.23.5</a></td>
   <td align="right">69kB</td>
   <td><tt>178e5f342a0a95043c8aa0cf0c7db23a0003b0d971a5aadc2400a4bf85ef1893</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kdeplasma-addons-5.23.5.tar.xz">kdeplasma-addons-5.23.5</a></td>
   <td align="right">613kB</td>
   <td><tt>78da1e66da03aa8b34dfef2075655645e9bef1af59671080089bcf8c2d7a0033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kgamma5-5.23.5.tar.xz">kgamma5-5.23.5</a></td>
   <td align="right">81kB</td>
   <td><tt>f60730505b429a58401cf2350faafd3108514c9ad46dd7657a42af08c09e409e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/khotkeys-5.23.5.tar.xz">khotkeys-5.23.5</a></td>
   <td align="right">1.7MB</td>
   <td><tt>6a18e89f19ba30a97a2e0f0f081acc6da1a37789fc009c7a555382bdc015a68c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kinfocenter-5.23.5.tar.xz">kinfocenter-5.23.5</a></td>
   <td align="right">1.0MB</td>
   <td><tt>67ae1e26b98a3efdeab6a0741bef9948410da6bee63692189535def0de98f138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kmenuedit-5.23.5.tar.xz">kmenuedit-5.23.5</a></td>
   <td align="right">879kB</td>
   <td><tt>821436fcb1a38b3d8e1c969119d7e1f326f02be1f1518baa51917f946e5c6d4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kscreen-5.23.5.tar.xz">kscreen-5.23.5</a></td>
   <td align="right">130kB</td>
   <td><tt>d1032cfd442ee872db714522d8874a48050723ac22c47783c7478a11e47fb948</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kscreenlocker-5.23.5.tar.xz">kscreenlocker-5.23.5</a></td>
   <td align="right">114kB</td>
   <td><tt>f5ca9dd81f17c599e11a51c6e986ff768ad88c0bde7e42e097d6a7efd9e6701f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/ksshaskpass-5.23.5.tar.xz">ksshaskpass-5.23.5</a></td>
   <td align="right">23kB</td>
   <td><tt>2e0e919d8d9cb203c68b3a8145147034d994bc2425f535b64917b10a8c9a0a5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/ksystemstats-5.23.5.tar.xz">ksystemstats-5.23.5</a></td>
   <td align="right">88kB</td>
   <td><tt>0b9e058550f60bb59a382e1c8d4bd4052751da0fd4b07ebe51d2fa5ea607b9f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kwallet-pam-5.23.5.tar.xz">kwallet-pam-5.23.5</a></td>
   <td align="right">19kB</td>
   <td><tt>89df447e2d79d8fc19225ef57c21abdb56f0adc52536b470f6cf691c79200ab2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kwayland-integration-5.23.5.tar.xz">kwayland-integration-5.23.5</a></td>
   <td align="right">23kB</td>
   <td><tt>4f114633d828f41ee26b5c4ffd3a3fdb6756f363d283ed52b176c69cc946463f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kwayland-server-5.23.5.tar.xz">kwayland-server-5.23.5</a></td>
   <td align="right">212kB</td>
   <td><tt>7e1d1b72d55fced5068ff781d285f07fdb97ec10326d143aec8f9901670d0c2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kwin-5.23.5.tar.xz">kwin-5.23.5</a></td>
   <td align="right">6.0MB</td>
   <td><tt>f749e7e9b753d1ed1ae9655ea3cdec7d13946c64c820d4c85be2c0f95ac55f01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/kwrited-5.23.5.tar.xz">kwrited-5.23.5</a></td>
   <td align="right">20kB</td>
   <td><tt>1b4762a40cee10fbd9120cde880fb53d4668433c4f8719b00420b4ef6608492a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/layer-shell-qt-5.23.5.tar.xz">layer-shell-qt-5.23.5</a></td>
   <td align="right">17kB</td>
   <td><tt>59aff42c166aab2c392a46f0a40525eff844da99a21f39a0e12ce608d33706aa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/libkscreen-5.23.5.tar.xz">libkscreen-5.23.5</a></td>
   <td align="right">95kB</td>
   <td><tt>31d433323616bcfda3c0c11e5dcb15acb83a4973993a5aa82bc85cca4c7a8f23</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/libksysguard-5.23.5.tar.xz">libksysguard-5.23.5</a></td>
   <td align="right">750kB</td>
   <td><tt>3030a6d579b8c2bd713677f1bd32dafaaf8ff2237b8be2177d7c9f3f677ec1bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/milou-5.23.5.tar.xz">milou-5.23.5</a></td>
   <td align="right">46kB</td>
   <td><tt>f00540998d172d3c5bbc83ebbfefed676bbd9a9c4a2c733ff9b9d85b18346c15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/oxygen-5.23.5.tar.xz">oxygen-5.23.5</a></td>
   <td align="right">4.3MB</td>
   <td><tt>0c6ccf96edff50088323c83fc50bbc7c04ec7a5d64f398456f09634ab14f7eef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-browser-integration-5.23.5.tar.xz">plasma-browser-integration-5.23.5</a></td>
   <td align="right">214kB</td>
   <td><tt>d74b043256d4eaf6c3b44507959eb28761e417ecd2fb7cc98b34aec77294894b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-desktop-5.23.5.tar.xz">plasma-desktop-5.23.5</a></td>
   <td align="right">15MB</td>
   <td><tt>b3905877a32dbe36b923d8624b9d7ac0174071f7ec08bf057f3e94c1b566a87a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-disks-5.23.5.tar.xz">plasma-disks-5.23.5</a></td>
   <td align="right">85kB</td>
   <td><tt>d7c849910745c741cbfa2da9cbe1ecd820bc522b6e6ff000f2489e5ba4ff2705</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-firewall-5.23.5.tar.xz">plasma-firewall-5.23.5</a></td>
   <td align="right">336kB</td>
   <td><tt>002b4a7870095e2a8b540de47886ec1963a7d6c13b13e1b8817425b4b2641e3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-integration-5.23.5.tar.xz">plasma-integration-5.23.5</a></td>
   <td align="right">81kB</td>
   <td><tt>8f9672da0501e835763254e24b36069ba3bcd6c5ba90505fdfb7b1923766800d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-nano-5.23.5.tar.xz">plasma-nano-5.23.5</a></td>
   <td align="right">64kB</td>
   <td><tt>35766683a9a108a98b7ae654c8393fbbc9259dbae2345846ff67561de03a06fa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-nm-5.23.5.tar.xz">plasma-nm-5.23.5</a></td>
   <td align="right">902kB</td>
   <td><tt>4346067fafb34fbb71d39f88f8c8b52eb6b229e846072b610cbd934dfcb75393</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-pa-5.23.5.tar.xz">plasma-pa-5.23.5</a></td>
   <td align="right">127kB</td>
   <td><tt>afbbeb580ff2d1ec07b3e6fa292222f920427f690af6c216ab2f1f89537196dd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-phone-components-5.23.5.tar.xz">plasma-phone-components-5.23.5</a></td>
   <td align="right">1.4MB</td>
   <td><tt>36bb23c9a9a81bdb604a553e2474a7b88866f6ed93a11644a3eaeccdfc1d8021</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-sdk-5.23.5.tar.xz">plasma-sdk-5.23.5</a></td>
   <td align="right">269kB</td>
   <td><tt>52d432377bb293ee264c7f521689b74111cd6e548a5e0938d0f346fc680214e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-systemmonitor-5.23.5.tar.xz">plasma-systemmonitor-5.23.5</a></td>
   <td align="right">141kB</td>
   <td><tt>8e8600ea93124c9d14fe245fbcda47daa5d594c4274100c0d43929f9fa52dfea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-tests-5.23.5.tar.xz">plasma-tests-5.23.5</a></td>
   <td align="right">1kB</td>
   <td><tt>e2399db72eb1276548e38f993e73b64857c6d8603a705d0f952b02789c06ab88</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-thunderbolt-5.23.5.tar.xz">plasma-thunderbolt-5.23.5</a></td>
   <td align="right">63kB</td>
   <td><tt>790fae6c3b163a4d3e3c293ae6df250cef3660dfde51b903de94a643b84890c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-vault-5.23.5.tar.xz">plasma-vault-5.23.5</a></td>
   <td align="right">172kB</td>
   <td><tt>0d6cffa89f53de921a983340b066119315c8bbff613ddc9bdedbe2247018c5bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-workspace-5.23.5.tar.xz">plasma-workspace-5.23.5</a></td>
   <td align="right">8.5MB</td>
   <td><tt>2ebee6ab2f10cabc350e0f75a0d8462ae0b7616a795d078f6bb5765396052575</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plasma-workspace-wallpapers-5.23.5.tar.xz">plasma-workspace-wallpapers-5.23.5</a></td>
   <td align="right">54MB</td>
   <td><tt>dd6d03fa758fbb046e1a631d129223164a378b122ec17d900ac76cf47d18265b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/plymouth-kcm-5.23.5.tar.xz">plymouth-kcm-5.23.5</a></td>
   <td align="right">38kB</td>
   <td><tt>7d61284258cde492f6c88fcd56abe1ee69266b51bf7b30da901e7d65aac3de7a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/polkit-kde-agent-1-5.23.5.tar.xz">polkit-kde-agent-1-5.23.5</a></td>
   <td align="right">46kB</td>
   <td><tt>967e69d1e9246dac1cd2c6f0f38565d954cf5d298170af9a330a1f94f07af7f1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/powerdevil-5.23.5.tar.xz">powerdevil-5.23.5</a></td>
   <td align="right">614kB</td>
   <td><tt>268420b48f683815457d61a11f9a565e7f176692a19c64997376cbc149c3b2d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/qqc2-breeze-style-5.23.5.tar.xz">qqc2-breeze-style-5.23.5</a></td>
   <td align="right">65kB</td>
   <td><tt>2ac3827d8dcd9ba1865d117d82e6023e8e686fea44d5ade3814191d2aa802996</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/sddm-kcm-5.23.5.tar.xz">sddm-kcm-5.23.5</a></td>
   <td align="right">76kB</td>
   <td><tt>bb338657463878b535f73eec6fc32c1f83f0928aeb7e61f66f497044eb0b5233</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/systemsettings-5.23.5.tar.xz">systemsettings-5.23.5</a></td>
   <td align="right">198kB</td>
   <td><tt>500ecb5955391b49a12578a2f54cabd2bed3c150a2a6e68833beafceacc21a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.23.5/xdg-desktop-portal-kde-5.23.5.tar.xz">xdg-desktop-portal-kde-5.23.5</a></td>
   <td align="right">87kB</td>
   <td><tt>eb61f3bb1d62e50f01a81b632476bfa689607a066af7dabdddb8dbdce4754327</tt></td>
</tr>

</table>
