<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha256 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/bluedevil-5.6.1.tar.xz">bluedevil-5.6.1</a></td>
   <td align="right">169kB</td>
   <td><tt>2116b11389290d909c9c5a8f13cf12ab5dd52ee37e282c8ec5fd9b45446f33ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/breeze-5.6.1.tar.xz">breeze-5.6.1</a></td>
   <td align="right">18MB</td>
   <td><tt>4188d39ef8a020c5ae891630e8852be591636ec0f26e8ffe354050f4ffea30c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/breeze-grub-5.6.1.tar.xz">breeze-grub-5.6.1</a></td>
   <td align="right">150kB</td>
   <td><tt>f15759894f565dbd51b0cddb1057d873e7a69e2f18aa26a327621125d8a4cdd4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/breeze-gtk-5.6.1.tar.xz">breeze-gtk-5.6.1</a></td>
   <td align="right">251kB</td>
   <td><tt>b774c00c4f2a829bdec4c60ea80328b4b2eb33bdd24155798acfd55a82c184ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/breeze-plymouth-5.6.1.tar.xz">breeze-plymouth-5.6.1</a></td>
   <td align="right">48kB</td>
   <td><tt>f59b52b4b12fa80f11e9054dfe96ac24c8e53e2c92c19f586f312fb208df1513</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/discover-5.6.1.tar.xz">discover-5.6.1</a></td>
   <td align="right">846kB</td>
   <td><tt>d1a6715cd0498a713b803258eb0c50aa864e62cb9171db523a74ea89e16083bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kactivitymanagerd-5.6.1.tar.xz">kactivitymanagerd-5.6.1</a></td>
   <td align="right">82kB</td>
   <td><tt>7313693279aefd833ab0d5852d9084d4692a3d9612bb01da521e5556cfcf95f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kde-cli-tools-5.6.1.tar.xz">kde-cli-tools-5.6.1</a></td>
   <td align="right">493kB</td>
   <td><tt>918d75e9d7db608b7e432ebf14dcb1e778626a752dcd0e5b5e9030307a8df75f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kdecoration-5.6.1.tar.xz">kdecoration-5.6.1</a></td>
   <td align="right">33kB</td>
   <td><tt>eb268f10c87de713327430a398e56d6db871d992a667e443b9f3c935c98bb8b7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kde-gtk-config-5.6.1.tar.xz">kde-gtk-config-5.6.1</a></td>
   <td align="right">160kB</td>
   <td><tt>ff058dbe1003303d16b5dc500ba4a414d0655da19a0f9dfce0fb063afbaac028</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kdeplasma-addons-5.6.1.tar.xz">kdeplasma-addons-5.6.1</a></td>
   <td align="right">1.9MB</td>
   <td><tt>1a8963dc87a8c27ba15948fabe629f0b64eaec551a9edc0b1d8baf0fcf51a33b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kgamma5-5.6.1.tar.xz">kgamma5-5.6.1</a></td>
   <td align="right">70kB</td>
   <td><tt>aa34dbea8d2cc22bc95da0cebaf0684aac823a00309500cd282fdaec743ac170</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/khelpcenter-5.6.1.tar.xz">khelpcenter-5.6.1</a></td>
   <td align="right">1.6MB</td>
   <td><tt>9ab45fc745124c3bbfc23e0bcedac55794309d085fb78893a9b831f9c5ee5e95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/khotkeys-5.6.1.tar.xz">khotkeys-5.6.1</a></td>
   <td align="right">653kB</td>
   <td><tt>51b6846c79fd36224d4ff6e6d326fdcc4b5863713a72a67b42f92215b14cc2a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kinfocenter-5.6.1.tar.xz">kinfocenter-5.6.1</a></td>
   <td align="right">1.2MB</td>
   <td><tt>fcdc3fe47d03de0fcfecd41fde99713fb11ce79a7b301ece0ad16fc4ac176b08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kmenuedit-5.6.1.tar.xz">kmenuedit-5.6.1</a></td>
   <td align="right">468kB</td>
   <td><tt>53f10c17158db4db913f0109f55dfc04a9c039beb9214d5f97d822cb63f38159</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kscreen-5.6.1.tar.xz">kscreen-5.6.1</a></td>
   <td align="right">114kB</td>
   <td><tt>a1b64dbfcbd611d32155276b73de42162aa389d0f253de611504ac2e7ce0c378</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kscreenlocker-5.6.1.tar.xz">kscreenlocker-5.6.1</a></td>
   <td align="right">101kB</td>
   <td><tt>8071a4bdef749cd392d0080b09827e5613e92d36283880ea6c1224211a0a01ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/ksshaskpass-5.6.1.tar.xz">ksshaskpass-5.6.1</a></td>
   <td align="right">24kB</td>
   <td><tt>9797045a29276c06ffc8f50e3fb688b96322fd59fa6286ef7b83077969be5937</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/ksysguard-5.6.1.tar.xz">ksysguard-5.6.1</a></td>
   <td align="right">601kB</td>
   <td><tt>f3c77c12cec1054f151a6ebce67f4a9d65062b86ae1bdeed5cad06d5553b8282</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kwallet-pam-5.6.1.tar.xz">kwallet-pam-5.6.1</a></td>
   <td align="right">17kB</td>
   <td><tt>01d8a091c32da2e0d9824252994f070cfd0395e959c6408fbd020812873d409a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kwayland-5.6.1.tar.xz">kwayland-5.6.1</a></td>
   <td align="right">164kB</td>
   <td><tt>e223dfabd608a8cf8d463d42dca8f3e974d4404b9248ef0d1b13c863c1456156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kwayland-integration-5.6.1.tar.xz">kwayland-integration-5.6.1</a></td>
   <td align="right">16kB</td>
   <td><tt>404413111065a8a2fdf264aeb63b970425c629ff7c31c5d6860f55266edd96f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kwin-5.6.1.tar.xz">kwin-5.6.1</a></td>
   <td align="right">3.7MB</td>
   <td><tt>f71a97c159c4d56a5769d9f9a878e906da4b16c58199b1a9a0f6db17efaa4568</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/kwrited-5.6.1.tar.xz">kwrited-5.6.1</a></td>
   <td align="right">19kB</td>
   <td><tt>00f922a0c4000eef19866ac828f9b764793b0594a94cd5628e4211bcc2ae33f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/libkscreen-5.6.1.tar.xz">libkscreen-5.6.1</a></td>
   <td align="right">81kB</td>
   <td><tt>924d3b927308ee87c6b952c5cdc99eb67541db778071847b976f5733bb086f51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/libksysguard-5.6.1.tar.xz">libksysguard-5.6.1</a></td>
   <td align="right">683kB</td>
   <td><tt>e97f2fe091ab8f1af729b47e8a28e795744475e5cd90ce0d65b3cdd62eb3df95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/milou-5.6.1.tar.xz">milou-5.6.1</a></td>
   <td align="right">56kB</td>
   <td><tt>ee77116c6043f8be9d583302e12544c72479d68c84ac717609fde9af16158f1a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/oxygen-5.6.1.tar.xz">oxygen-5.6.1</a></td>
   <td align="right">4.2MB</td>
   <td><tt>2544e953e7af34a51b8bcd441223e2f2f036a1533c5972c9df7c0e281abdc412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-desktop-5.6.1.tar.xz">plasma-desktop-5.6.1</a></td>
   <td align="right">6.0MB</td>
   <td><tt>40d42d06b243dbfea6412b88fbdeb54de3b40e2990551714ef93e13ef3c58733</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-integration-5.6.1.tar.xz">plasma-integration-5.6.1</a></td>
   <td align="right">49kB</td>
   <td><tt>8ac0ce54a0ea4c603d7985a11ba93cb35476aa3aa74268f69d077859729e28a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-mediacenter-5.6.1.tar.xz">plasma-mediacenter-5.6.1</a></td>
   <td align="right">170kB</td>
   <td><tt>f6c8804bd814bbdac0cee45c7dfc9df0fff5dbd4ed49741d9987ba31c7569033</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-nm-5.6.1.tar.xz">plasma-nm-5.6.1</a></td>
   <td align="right">627kB</td>
   <td><tt>de80ed4d2a9956c5c4e07bcad3fae633d85b4326322acbd0a3c71f93a5309213</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-pa-5.6.1.tar.xz">plasma-pa-5.6.1</a></td>
   <td align="right">58kB</td>
   <td><tt>647b6c9f878e842a1df516fe8f9a1fc47754ea78e22a899e106383c3427f4138</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-sdk-5.6.1.tar.xz">plasma-sdk-5.6.1</a></td>
   <td align="right">686kB</td>
   <td><tt>92282f29b145bcc830e8e5da89d767dff94625e700510b19df7b5ddc76dee391</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-workspace-5.6.1.tar.xz">plasma-workspace-5.6.1</a></td>
   <td align="right">6.6MB</td>
   <td><tt>64a95274c537b264b4e5f817ca04b72c1599acbf9e016c1760d18ed9174f800a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/plasma-workspace-wallpapers-5.6.1.tar.xz">plasma-workspace-wallpapers-5.6.1</a></td>
   <td align="right">43MB</td>
   <td><tt>b327b348bd17e00234db7741d1e5fd0129d9e7ca981324eea11791031c8276f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/polkit-kde-agent-1-5.6.1.tar.xz">polkit-kde-agent-1-5.6.1</a></td>
   <td align="right">49kB</td>
   <td><tt>5f4a6e49c315b72796ec70b080ce22f306c1487fff4e57cfbe027c216146eee9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/powerdevil-5.6.1.tar.xz">powerdevil-5.6.1</a></td>
   <td align="right">345kB</td>
   <td><tt>13b33ea33cdcd1af3570be3252e6b9d081612eed8ad4fa704c402fd2a57ef191</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/sddm-kcm-5.6.1.tar.xz">sddm-kcm-5.6.1</a></td>
   <td align="right">55kB</td>
   <td><tt>fb6225723ac2c247c66d0283fd0a43eca771f2b3b94839dd3ab63083e001032c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/systemsettings-5.6.1.tar.xz">systemsettings-5.6.1</a></td>
   <td align="right">177kB</td>
   <td><tt>24c1084de8cddb7deeae8d3fe2b8d6b3dc180f2b4411489c9687fcea02bd7963</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/plasma/5.6.1/user-manager-5.6.1.tar.xz">user-manager-5.6.1</a></td>
   <td align="right">70kB</td>
   <td><tt>026b4fb36b0a8c023fccd19737ced5b7d6481603266dc7f76a907cb5ddebb8d9</tt></td>
</tr>

</table>
