<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">SHA-1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-22.08.2.tar.xz">akonadi-22.08.2</a></td>
   <td align="right">1592kB</td>
   <td><tt>1861ec5aa84d7fea2e78550d3f9b204a21f0681e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-calendar-22.08.2.tar.xz">akonadi-calendar-22.08.2</a></td>
   <td align="right">385kB</td>
   <td><tt>ed6cd6a1bc4c4be254049a86bd2ed83818d12c5b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-calendar-tools-22.08.2.tar.xz">akonadi-calendar-tools-22.08.2</a></td>
   <td align="right">232kB</td>
   <td><tt>807b890130854592fb0bd449b525e3d6fe8bc595</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadiconsole-22.08.2.tar.xz">akonadiconsole-22.08.2</a></td>
   <td align="right">195kB</td>
   <td><tt>b9b0128357cb919d59173e79dcafe90a880e23a3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-contacts-22.08.2.tar.xz">akonadi-contacts-22.08.2</a></td>
   <td align="right">417kB</td>
   <td><tt>975c959f22ea7710a16199dfde3407079eab12f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-import-wizard-22.08.2.tar.xz">akonadi-import-wizard-22.08.2</a></td>
   <td align="right">500kB</td>
   <td><tt>ff20ad99de98b37ba8575a6fd53522c506a65556</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-mime-22.08.2.tar.xz">akonadi-mime-22.08.2</a></td>
   <td align="right">146kB</td>
   <td><tt>9a1cb03e02311cc6bfc2eb7128bc3b827990cc35</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-notes-22.08.2.tar.xz">akonadi-notes-22.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>6ea01916a4d59c28a7f05c15ee3c2c3b94299234</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akonadi-search-22.08.2.tar.xz">akonadi-search-22.08.2</a></td>
   <td align="right">97kB</td>
   <td><tt>ef352e66788ae01a6a19be159a7623b883a4a4bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/akregator-22.08.2.tar.xz">akregator-22.08.2</a></td>
   <td align="right">2200kB</td>
   <td><tt>6fc4d8ecea1ba3720d600cf29dee4507adaa8691</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/analitza-22.08.2.tar.xz">analitza-22.08.2</a></td>
   <td align="right">341kB</td>
   <td><tt>8a94f97cd20c0c16c2a05ea9f78696815f470f02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ark-22.08.2.tar.xz">ark-22.08.2</a></td>
   <td align="right">2719kB</td>
   <td><tt>79c89c05bb60d0665a567134d7392b178c1a57f0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/artikulate-22.08.2.tar.xz">artikulate-22.08.2</a></td>
   <td align="right">1071kB</td>
   <td><tt>bc93013db55c0be177f70e130cea0b69ab4bc356</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/audiocd-kio-22.08.2.tar.xz">audiocd-kio-22.08.2</a></td>
   <td align="right">514kB</td>
   <td><tt>97a62809d198ee8625618ba344cc984ae871dded</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/baloo-widgets-22.08.2.tar.xz">baloo-widgets-22.08.2</a></td>
   <td align="right">266kB</td>
   <td><tt>8bcd1cfba309883f57a19466efaf8875e8a8ae4a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/blinken-22.08.2.tar.xz">blinken-22.08.2</a></td>
   <td align="right">2652kB</td>
   <td><tt>932dba6127c0652b1e0b30a0d1fc499552329119</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/bomber-22.08.2.tar.xz">bomber-22.08.2</a></td>
   <td align="right">814kB</td>
   <td><tt>a2fed858d83dce09a09ebdbfb5569a37a955d186</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/bovo-22.08.2.tar.xz">bovo-22.08.2</a></td>
   <td align="right">205kB</td>
   <td><tt>0cada40fb53c7e0ac119c50917dceb729ee1b980</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/calendarsupport-22.08.2.tar.xz">calendarsupport-22.08.2</a></td>
   <td align="right">733kB</td>
   <td><tt>5cbb37da50fe5bf19e520fe3ae053dc737041122</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/cantor-22.08.2.tar.xz">cantor-22.08.2</a></td>
   <td align="right">9006kB</td>
   <td><tt>d5f25f48608654f92a35df2040cebd5ec224bb81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/cervisia-22.08.2.tar.xz">cervisia-22.08.2</a></td>
   <td align="right">1869kB</td>
   <td><tt>941cec7a2d66a9604df8146f9e37dcccfdcacc10</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/dolphin-22.08.2.tar.xz">dolphin-22.08.2</a></td>
   <td align="right">5242kB</td>
   <td><tt>9a499c16ac2e2a6fcfbb5c37601fdfabe95e2861</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/dolphin-plugins-22.08.2.tar.xz">dolphin-plugins-22.08.2</a></td>
   <td align="right">253kB</td>
   <td><tt>4378ab01a06e229a617d7eb00c1812cca9f4996c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/dragon-22.08.2.tar.xz">dragon-22.08.2</a></td>
   <td align="right">1627kB</td>
   <td><tt>9e3b8e0aede38eb9f5340636024d115d67a25ff2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/elisa-22.08.2.tar.xz">elisa-22.08.2</a></td>
   <td align="right">1726kB</td>
   <td><tt>a04dfeca1a8bca99f8d136112ded79b38663f746</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/eventviews-22.08.2.tar.xz">eventviews-22.08.2</a></td>
   <td align="right">450kB</td>
   <td><tt>3b509ab2eb99907ab29dd3a141fd5b16d4943630</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/falkon-22.08.2.tar.xz">falkon-22.08.2</a></td>
   <td align="right">2444kB</td>
   <td><tt>08ea21cd44f0c20c2af214476734cdab84250ed9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ffmpegthumbs-22.08.2.tar.xz">ffmpegthumbs-22.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>5d03b75819199558e5785e5148606fffa5855901</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/filelight-22.08.2.tar.xz">filelight-22.08.2</a></td>
   <td align="right">682kB</td>
   <td><tt>c84e563174e171eb5693f93d78b37b813c786302</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/granatier-22.08.2.tar.xz">granatier-22.08.2</a></td>
   <td align="right">2057kB</td>
   <td><tt>909e6490f7b41708d936a506a6d388a10ab63e6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/grantlee-editor-22.08.2.tar.xz">grantlee-editor-22.08.2</a></td>
   <td align="right">110kB</td>
   <td><tt>c7246d9e5a360849959a0a7a6594bf238ed10def</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/grantleetheme-22.08.2.tar.xz">grantleetheme-22.08.2</a></td>
   <td align="right">60kB</td>
   <td><tt>db0fcd40194a33c6e0195bcf162b88b4d6f22982</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/gwenview-22.08.2.tar.xz">gwenview-22.08.2</a></td>
   <td align="right">6664kB</td>
   <td><tt>ea7a28f9444190664d8e4063fb03d35e94a7f371</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/incidenceeditor-22.08.2.tar.xz">incidenceeditor-22.08.2</a></td>
   <td align="right">547kB</td>
   <td><tt>b7cae786235928bba57bc02060fe14fbb679d766</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/itinerary-22.08.2.tar.xz">itinerary-22.08.2</a></td>
   <td align="right">557kB</td>
   <td><tt>4cdcdd20c5a923493896f47becce769cf945060d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/juk-22.08.2.tar.xz">juk-22.08.2</a></td>
   <td align="right">1968kB</td>
   <td><tt>32626e75ab5cc705b2fccee4f322aecb09f5a5f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/k3b-22.08.2.tar.xz">k3b-22.08.2</a></td>
   <td align="right">10511kB</td>
   <td><tt>e99421b91e425c98b972d99151017b7d581fd342</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kaccounts-integration-22.08.2.tar.xz">kaccounts-integration-22.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>2067b7b9510726d3952e7d0f47cc1c07e01e3acf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kaccounts-providers-22.08.2.tar.xz">kaccounts-providers-22.08.2</a></td>
   <td align="right">63kB</td>
   <td><tt>6a2cc6ca2f1d8c4dec494f67f8d559214c92953f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kaddressbook-22.08.2.tar.xz">kaddressbook-22.08.2</a></td>
   <td align="right">3258kB</td>
   <td><tt>784361373f70735bb7ac19c922a07b3f597ddb0f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kajongg-22.08.2.tar.xz">kajongg-22.08.2</a></td>
   <td align="right">4459kB</td>
   <td><tt>9c18ba5ea53d22f3d8cd832739172a372a37e0b0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kalarm-22.08.2.tar.xz">kalarm-22.08.2</a></td>
   <td align="right">2315kB</td>
   <td><tt>9563dd5c21802daa693dc7ffb145ed0c56f5432c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kalendar-22.08.2.tar.xz">kalendar-22.08.2</a></td>
   <td align="right">457kB</td>
   <td><tt>2abf0437621905beabeb0672822aa525fb0877b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kalgebra-22.08.2.tar.xz">kalgebra-22.08.2</a></td>
   <td align="right">1008kB</td>
   <td><tt>16f03650f5fde7295bc96438b6a9303e04d80da1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kalzium-22.08.2.tar.xz">kalzium-22.08.2</a></td>
   <td align="right">23880kB</td>
   <td><tt>b7a5b36ebbada56f3d8b1c2d359e31d097a6f508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kamera-22.08.2.tar.xz">kamera-22.08.2</a></td>
   <td align="right">117kB</td>
   <td><tt>4eb099b7237cf6be5713ed26db757d00b59d820f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kamoso-22.08.2.tar.xz">kamoso-22.08.2</a></td>
   <td align="right">222kB</td>
   <td><tt>78ff692fd27ff54587ec934e9e2163f61fb5c104</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kanagram-22.08.2.tar.xz">kanagram-22.08.2</a></td>
   <td align="right">7858kB</td>
   <td><tt>ecd2cbf87eaa18cc2aa51b8d278661374159282d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kapman-22.08.2.tar.xz">kapman-22.08.2</a></td>
   <td align="right">2418kB</td>
   <td><tt>05476f7a2ce6a3eb3e038d9afd495f6092230d89</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kapptemplate-22.08.2.tar.xz">kapptemplate-22.08.2</a></td>
   <td align="right">328kB</td>
   <td><tt>b263b8320e21c3567dfebd4e3830357b8190c1a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kate-22.08.2.tar.xz">kate-22.08.2</a></td>
   <td align="right">7485kB</td>
   <td><tt>b72369dd6f6e20f73120adc6b2087f24d3180326</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/katomic-22.08.2.tar.xz">katomic-22.08.2</a></td>
   <td align="right">1404kB</td>
   <td><tt>1245fbd3aab16be9b1f5d9240138ff0ec84bbdf9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kbackup-22.08.2.tar.xz">kbackup-22.08.2</a></td>
   <td align="right">383kB</td>
   <td><tt>6a8a02b2b6e8051d1b9d647c445e8ca3b4de9348</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kblackbox-22.08.2.tar.xz">kblackbox-22.08.2</a></td>
   <td align="right">516kB</td>
   <td><tt>7b74812ffb8e3058ee3e98be1a5b326c593d6067</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kblocks-22.08.2.tar.xz">kblocks-22.08.2</a></td>
   <td align="right">2054kB</td>
   <td><tt>d2a6d039b45cb86f5c6bfb8a74a2e2a41554ba12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kbounce-22.08.2.tar.xz">kbounce-22.08.2</a></td>
   <td align="right">3449kB</td>
   <td><tt>eaf8dc059f2545a2c846ff247eac8e4586ca607b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kbreakout-22.08.2.tar.xz">kbreakout-22.08.2</a></td>
   <td align="right">2494kB</td>
   <td><tt>d02d0a5cd118ce4e5c45f6cf7f2e3b940c69bf6f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kbruch-22.08.2.tar.xz">kbruch-22.08.2</a></td>
   <td align="right">5501kB</td>
   <td><tt>08fc163705f5b355f4613b6aee7412a5e717cddc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcachegrind-22.08.2.tar.xz">kcachegrind-22.08.2</a></td>
   <td align="right">859kB</td>
   <td><tt>0acc961930d69491dc5a0320e7f269e4cbc1afc2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcalc-22.08.2.tar.xz">kcalc-22.08.2</a></td>
   <td align="right">386kB</td>
   <td><tt>780f3aff78d0007fcdb17726ec6821540b463fce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcalutils-22.08.2.tar.xz">kcalutils-22.08.2</a></td>
   <td align="right">340kB</td>
   <td><tt>3e8eb14a2297d9209dd3ae01a0c6ddc96f0a76bd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcharselect-22.08.2.tar.xz">kcharselect-22.08.2</a></td>
   <td align="right">366kB</td>
   <td><tt>3d2afe3ec149d910fd5463da630f5dd314e231cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcolorchooser-22.08.2.tar.xz">kcolorchooser-22.08.2</a></td>
   <td align="right">30kB</td>
   <td><tt>197975474d14612f621fc69e7e0a8e456f03828f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kcron-22.08.2.tar.xz">kcron-22.08.2</a></td>
   <td align="right">895kB</td>
   <td><tt>33e3525a898f82b3ffc5c5926961ec2666381ffb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdebugsettings-22.08.2.tar.xz">kdebugsettings-22.08.2</a></td>
   <td align="right">92kB</td>
   <td><tt>0b1bc35d44f7fa040298d537463fc2ccb2700ba4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdeconnect-kde-22.08.2.tar.xz">kdeconnect-kde-22.08.2</a></td>
   <td align="right">609kB</td>
   <td><tt>c5c4607eac51e218eb4ebe4e3848ae1ebd974d91</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kde-dev-scripts-22.08.2.tar.xz">kde-dev-scripts-22.08.2</a></td>
   <td align="right">358kB</td>
   <td><tt>9212532fc6aa123c130c956aa3cf1454fc2e8492</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kde-dev-utils-22.08.2.tar.xz">kde-dev-utils-22.08.2</a></td>
   <td align="right">66kB</td>
   <td><tt>d837685f5f059a7e4e1c32a47c11d11d26436292</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdeedu-data-22.08.2.tar.xz">kdeedu-data-22.08.2</a></td>
   <td align="right">328kB</td>
   <td><tt>9f515374dcbb524539960f61889ab9f9783fcc6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdegraphics-mobipocket-22.08.2.tar.xz">kdegraphics-mobipocket-22.08.2</a></td>
   <td align="right">12kB</td>
   <td><tt>e81e5c7b0fc822679aaea9a2ef1b3942fc77e80b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdegraphics-thumbnailers-22.08.2.tar.xz">kdegraphics-thumbnailers-22.08.2</a></td>
   <td align="right">47kB</td>
   <td><tt>0255384b2500e2e78df6729dc4e84eca7b7f2d3a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdenetwork-filesharing-22.08.2.tar.xz">kdenetwork-filesharing-22.08.2</a></td>
   <td align="right">369kB</td>
   <td><tt>2cd254e2d87a56dab8f9805eefecae21a99c472e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdenlive-22.08.2.tar.xz">kdenlive-22.08.2</a></td>
   <td align="right">12152kB</td>
   <td><tt>7135a769e4776acae42818adb23026c0942ab6f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdepim-addons-22.08.2.tar.xz">kdepim-addons-22.08.2</a></td>
   <td align="right">2247kB</td>
   <td><tt>998d156fe568628dd6e8d6e65e7bb95e9182cd54</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdepim-runtime-22.08.2.tar.xz">kdepim-runtime-22.08.2</a></td>
   <td align="right">1775kB</td>
   <td><tt>7fc0debabaddc349feb37cca70ea2616b81889ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdesdk-kio-22.08.2.tar.xz">kdesdk-kio-22.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>0b4b53d2860fe8f36a727fd042aaf49a81be2155</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdesdk-thumbnailers-22.08.2.tar.xz">kdesdk-thumbnailers-22.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>45b2bd99c445844f576c1d5c5a7b5c48bd69fa46</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdevelop-22.08.2.tar.xz">kdevelop-22.08.2</a></td>
   <td align="right">8249kB</td>
   <td><tt>7b6752369357ac602b5401abdc31ac027ebee848</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdev-php-22.08.2.tar.xz">kdev-php-22.08.2</a></td>
   <td align="right">1055kB</td>
   <td><tt>3cea6da7891203c7369086d18cbe880e4cbd2890</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdev-python-22.08.2.tar.xz">kdev-python-22.08.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>c3d554c6df7a56bdeefaa1e0a37ee4e1522b713e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdf-22.08.2.tar.xz">kdf-22.08.2</a></td>
   <td align="right">466kB</td>
   <td><tt>63d7201bd3e3c487e68d8e5e52558ad69427274e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdialog-22.08.2.tar.xz">kdialog-22.08.2</a></td>
   <td align="right">113kB</td>
   <td><tt>a375bc14eeefa08fa1d555ef801daa6a63935d92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kdiamond-22.08.2.tar.xz">kdiamond-22.08.2</a></td>
   <td align="right">4593kB</td>
   <td><tt>77a0aa1b938a3060b912a3ad30d3dc50bbcb91ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/keditbookmarks-22.08.2.tar.xz">keditbookmarks-22.08.2</a></td>
   <td align="right">199kB</td>
   <td><tt>b9c4b32713b684ab61ea0acc19c877d7c38fa970</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kfind-22.08.2.tar.xz">kfind-22.08.2</a></td>
   <td align="right">283kB</td>
   <td><tt>8343d82635057997bdad5883e060a3d8950e8e08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kfloppy-22.08.2.tar.xz">kfloppy-22.08.2</a></td>
   <td align="right">208kB</td>
   <td><tt>0a0f7e50cc5df145267d20441a631fd0184cfc86</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kfourinline-22.08.2.tar.xz">kfourinline-22.08.2</a></td>
   <td align="right">705kB</td>
   <td><tt>08abc08fb3be7d14461159acdc6de3863cc8e0d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kgeography-22.08.2.tar.xz">kgeography-22.08.2</a></td>
   <td align="right">10827kB</td>
   <td><tt>7fbb9354bde7dadc1579a41112ac1209bdb83a6a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kget-22.08.2.tar.xz">kget-22.08.2</a></td>
   <td align="right">5316kB</td>
   <td><tt>d79ad792e84149b0f7317921ccc1057298a71b01</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kgoldrunner-22.08.2.tar.xz">kgoldrunner-22.08.2</a></td>
   <td align="right">4675kB</td>
   <td><tt>d00dd24f5f3a2fba77ea9a766dc1e939d5f2570b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kgpg-22.08.2.tar.xz">kgpg-22.08.2</a></td>
   <td align="right">2883kB</td>
   <td><tt>dc357a43db9f4204662584796465948f86f6a67b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/khangman-22.08.2.tar.xz">khangman-22.08.2</a></td>
   <td align="right">7249kB</td>
   <td><tt>9f555f6b8cb6c9bfd07f84c7b3ded36462a9df2a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/khelpcenter-22.08.2.tar.xz">khelpcenter-22.08.2</a></td>
   <td align="right">4216kB</td>
   <td><tt>6fc88ebfa07a9c69e4d76b9a90bd0256595cd95a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kidentitymanagement-22.08.2.tar.xz">kidentitymanagement-22.08.2</a></td>
   <td align="right">156kB</td>
   <td><tt>8a77271010930bf13ccc97eeb4deb396f9cf23ca</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kig-22.08.2.tar.xz">kig-22.08.2</a></td>
   <td align="right">3109kB</td>
   <td><tt>33c1a7c792222ae3804679570c49bbaa87f033d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kigo-22.08.2.tar.xz">kigo-22.08.2</a></td>
   <td align="right">5132kB</td>
   <td><tt>8771465fca6f525b6259ea082d96dbb852d6cde3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/killbots-22.08.2.tar.xz">killbots-22.08.2</a></td>
   <td align="right">1169kB</td>
   <td><tt>f6cc6b657967c471c7f8275a07b7ab7d2113a6c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kimagemapeditor-22.08.2.tar.xz">kimagemapeditor-22.08.2</a></td>
   <td align="right">1065kB</td>
   <td><tt>649ade839a6f41599098b4824535182255c8de92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kimap-22.08.2.tar.xz">kimap-22.08.2</a></td>
   <td align="right">127kB</td>
   <td><tt>d8597e8152e4fb49c9aa310412d198482bcdddd0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kio-extras-22.08.2.tar.xz">kio-extras-22.08.2</a></td>
   <td align="right">628kB</td>
   <td><tt>46dd62159c673fdd4e12566fb3c1a124cb285826</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kio-gdrive-22.08.2.tar.xz">kio-gdrive-22.08.2</a></td>
   <td align="right">71kB</td>
   <td><tt>b6b7bcc9c9a31e556c22a5f3a3be53665327e140</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kio-zeroconf-22.08.2.tar.xz">kio-zeroconf-22.08.2</a></td>
   <td align="right">38kB</td>
   <td><tt>bf6f1ed4d755fbb6ed9790b6c2ceebbc59261529</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kipi-plugins-22.08.2.tar.xz">kipi-plugins-22.08.2</a></td>
   <td align="right">1488kB</td>
   <td><tt>1f9820b0144b98e7e5ab8ffd8f653235e2b3cef7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kirigami-gallery-22.08.2.tar.xz">kirigami-gallery-22.08.2</a></td>
   <td align="right">333kB</td>
   <td><tt>408430c7abff44610f42a3168a26b8facb9c995d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kiriki-22.08.2.tar.xz">kiriki-22.08.2</a></td>
   <td align="right">358kB</td>
   <td><tt>9a6afc844ef60b8f2d0e0210b6cee9fbc62af424</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kiten-22.08.2.tar.xz">kiten-22.08.2</a></td>
   <td align="right">11050kB</td>
   <td><tt>bd77446416bcd5c7f9228e55f9cf925a67536952</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kitinerary-22.08.2.tar.xz">kitinerary-22.08.2</a></td>
   <td align="right">1655kB</td>
   <td><tt>0034826bbf3aa13affc150ed19f9ee0db2dadc71</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kjumpingcube-22.08.2.tar.xz">kjumpingcube-22.08.2</a></td>
   <td align="right">318kB</td>
   <td><tt>ef2d60ef15d6a6499dd04054b502427d622b950a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kldap-22.08.2.tar.xz">kldap-22.08.2</a></td>
   <td align="right">169kB</td>
   <td><tt>52e48f9e99a4930d4e2d30dee7de65aa19203bc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kleopatra-22.08.2.tar.xz">kleopatra-22.08.2</a></td>
   <td align="right">2321kB</td>
   <td><tt>f8a900c6cc5874979333bb7d590bb4882ca737d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/klettres-22.08.2.tar.xz">klettres-22.08.2</a></td>
   <td align="right">46080kB</td>
   <td><tt>a8ec8f7d8218afafae54a0403e71c39a65a8816d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/klickety-22.08.2.tar.xz">klickety-22.08.2</a></td>
   <td align="right">1460kB</td>
   <td><tt>5f7be94d374882f4a9d92842accf126a5ef8f376</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/klines-22.08.2.tar.xz">klines-22.08.2</a></td>
   <td align="right">1687kB</td>
   <td><tt>eea0468d4649a0352ee4052946555ef340f67176</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmag-22.08.2.tar.xz">kmag-22.08.2</a></td>
   <td align="right">693kB</td>
   <td><tt>44798a6dddd8540cd8ce852c877a02f343b09ea1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmahjongg-22.08.2.tar.xz">kmahjongg-22.08.2</a></td>
   <td align="right">3977kB</td>
   <td><tt>2b8751f4e8a6eb3bd408799b66c788e9de71f370</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmail-22.08.2.tar.xz">kmail-22.08.2</a></td>
   <td align="right">6947kB</td>
   <td><tt>544987ba2f1a7e3a72f19db814b5480211aaf0ea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmail-account-wizard-22.08.2.tar.xz">kmail-account-wizard-22.08.2</a></td>
   <td align="right">173kB</td>
   <td><tt>7c91dd137b8e23f9b0f072fb17c255af5f58b7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmailtransport-22.08.2.tar.xz">kmailtransport-22.08.2</a></td>
   <td align="right">176kB</td>
   <td><tt>1f7e63e9db09df758fd9e5a88f01ec4cca69038a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmbox-22.08.2.tar.xz">kmbox-22.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>0650642fbe234be0d34765d0a3c4fd2c5f8e5a1d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmime-22.08.2.tar.xz">kmime-22.08.2</a></td>
   <td align="right">152kB</td>
   <td><tt>325df3137b2138571dbded17efa737d396758564</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmines-22.08.2.tar.xz">kmines-22.08.2</a></td>
   <td align="right">970kB</td>
   <td><tt>e510ceb810dd8e8124f144e55256716efc0e5644</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmix-22.08.2.tar.xz">kmix-22.08.2</a></td>
   <td align="right">1136kB</td>
   <td><tt>8784d339049426316c9e08e5d64827593a0eaff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmousetool-22.08.2.tar.xz">kmousetool-22.08.2</a></td>
   <td align="right">119kB</td>
   <td><tt>4b7322b97880ab5a3b42ffe9b034200a7b7dda16</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmouth-22.08.2.tar.xz">kmouth-22.08.2</a></td>
   <td align="right">2006kB</td>
   <td><tt>5470d3a4e138528a37440be90cb1e1be1f982b4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kmplot-22.08.2.tar.xz">kmplot-22.08.2</a></td>
   <td align="right">2976kB</td>
   <td><tt>ff4b32457874aadb9a484ea06757f098e0054928</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/knavalbattle-22.08.2.tar.xz">knavalbattle-22.08.2</a></td>
   <td align="right">1348kB</td>
   <td><tt>2078263bb4cbe94fac03135c39308d6c301d0ff8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/knetwalk-22.08.2.tar.xz">knetwalk-22.08.2</a></td>
   <td align="right">1072kB</td>
   <td><tt>1fafb1e66fad7671308abedaab0c981899dd4a68</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/knights-22.08.2.tar.xz">knights-22.08.2</a></td>
   <td align="right">3246kB</td>
   <td><tt>114417c820daaefa8f567deea5f9eafefd1d7f4d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/knotes-22.08.2.tar.xz">knotes-22.08.2</a></td>
   <td align="right">337kB</td>
   <td><tt>3f4efb650afc6c4436942585ef176dd1581de690</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kolf-22.08.2.tar.xz">kolf-22.08.2</a></td>
   <td align="right">1025kB</td>
   <td><tt>f217200b006f1db44785d63282a466308658753a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kollision-22.08.2.tar.xz">kollision-22.08.2</a></td>
   <td align="right">295kB</td>
   <td><tt>68588eaf663a418f0d2dc9b075c1dadd51c7df8f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kolourpaint-22.08.2.tar.xz">kolourpaint-22.08.2</a></td>
   <td align="right">5584kB</td>
   <td><tt>344ac3b578e1af74e5710e2e57363ba9f244c5d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kompare-22.08.2.tar.xz">kompare-22.08.2</a></td>
   <td align="right">928kB</td>
   <td><tt>f3eca02f5c27f433494eb91d48694bf63b7ac3c4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/konqueror-22.08.2.tar.xz">konqueror-22.08.2</a></td>
   <td align="right">7490kB</td>
   <td><tt>6a5b423732b2c80040ab30f485f68b380bcc152d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/konquest-22.08.2.tar.xz">konquest-22.08.2</a></td>
   <td align="right">842kB</td>
   <td><tt>93c5d5f21b2b3f46c48659716b41154b01881405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/konsole-22.08.2.tar.xz">konsole-22.08.2</a></td>
   <td align="right">1467kB</td>
   <td><tt>47c497aa2c03ec1e22596a572c461241a34d923b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kontact-22.08.2.tar.xz">kontact-22.08.2</a></td>
   <td align="right">805kB</td>
   <td><tt>e8646c649f865a8b0cfc1aed239adda19bec3334</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kontactinterface-22.08.2.tar.xz">kontactinterface-22.08.2</a></td>
   <td align="right">39kB</td>
   <td><tt>fbe1cda7f079faa62e05d55726f5c38a3f867df5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kontrast-22.08.2.tar.xz">kontrast-22.08.2</a></td>
   <td align="right">124kB</td>
   <td><tt>bd698aacd04ccc3f991db5d38264e85787a4bfe2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/konversation-22.08.2.tar.xz">konversation-22.08.2</a></td>
   <td align="right">4185kB</td>
   <td><tt>2e203fbc9f1746c93116f9d37f6a5a2e6720a819</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kopeninghours-22.08.2.tar.xz">kopeninghours-22.08.2</a></td>
   <td align="right">68kB</td>
   <td><tt>074e23d4f005bf62eef2e62c961c792c9619d967</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kopete-22.08.2.tar.xz">kopete-22.08.2</a></td>
   <td align="right">9441kB</td>
   <td><tt>edd065d4f132f0f01d1f5f5be033cd5dc8502ff1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/korganizer-22.08.2.tar.xz">korganizer-22.08.2</a></td>
   <td align="right">2267kB</td>
   <td><tt>1023a960a3f6e75e684627634e1776b7453def53</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kosmindoormap-22.08.2.tar.xz">kosmindoormap-22.08.2</a></td>
   <td align="right">350kB</td>
   <td><tt>b00983c1ba589338f75c7596722494971953e66d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kpat-22.08.2.tar.xz">kpat-22.08.2</a></td>
   <td align="right">3643kB</td>
   <td><tt>1cc916e2a1c37594f01e0b285f547684f9db2af3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kpimtextedit-22.08.2.tar.xz">kpimtextedit-22.08.2</a></td>
   <td align="right">211kB</td>
   <td><tt>b9bd45b4639981938a14be39c5bb81e43128be84</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kpkpass-22.08.2.tar.xz">kpkpass-22.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>d6244fff269945bf4ad93b8e1afd7ee690633f4c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kpmcore-22.08.2.tar.xz">kpmcore-22.08.2</a></td>
   <td align="right">584kB</td>
   <td><tt>cda744f501485ed1ecdc8a7c302168b7fc6899a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kpublictransport-22.08.2.tar.xz">kpublictransport-22.08.2</a></td>
   <td align="right">477kB</td>
   <td><tt>e17102e9b948413224b3a744756c13e4d0c72484</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kqtquickcharts-22.08.2.tar.xz">kqtquickcharts-22.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>08b5ed868b20190059ff162eefdacfe80b131efd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/krdc-22.08.2.tar.xz">krdc-22.08.2</a></td>
   <td align="right">1540kB</td>
   <td><tt>b24cba405faa0554bc07944d8e47137a5f7cf251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kreversi-22.08.2.tar.xz">kreversi-22.08.2</a></td>
   <td align="right">1038kB</td>
   <td><tt>544067c41ec8a6cabb6217f3bc96bed28bb02360</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/krfb-22.08.2.tar.xz">krfb-22.08.2</a></td>
   <td align="right">1265kB</td>
   <td><tt>e6069df93530273689e4619d146a4d1454123d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kross-interpreters-22.08.2.tar.xz">kross-interpreters-22.08.2</a></td>
   <td align="right">148kB</td>
   <td><tt>c4fa4e8ee29040b402aa1d3cce378ee5214a4da5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kruler-22.08.2.tar.xz">kruler-22.08.2</a></td>
   <td align="right">269kB</td>
   <td><tt>b85827e5c6eb1e29d15bca758b9cec2f6759195f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksanecore-22.08.2.tar.xz">ksanecore-22.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>0833dcadd2d1627c9e0c381628cf3849627534a2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kshisen-22.08.2.tar.xz">kshisen-22.08.2</a></td>
   <td align="right">970kB</td>
   <td><tt>aa17859ef1158826523d1f23ac31011483af6cad</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksirk-22.08.2.tar.xz">ksirk-22.08.2</a></td>
   <td align="right">6851kB</td>
   <td><tt>563c181426192f674b927953350f5dfe10baa7f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksmtp-22.08.2.tar.xz">ksmtp-22.08.2</a></td>
   <td align="right">47kB</td>
   <td><tt>9e50ad3d3402fef27c7500456d491a687ddc5000</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksnakeduel-22.08.2.tar.xz">ksnakeduel-22.08.2</a></td>
   <td align="right">593kB</td>
   <td><tt>9554401934c75d02ec41980da51964cd1d618daa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kspaceduel-22.08.2.tar.xz">kspaceduel-22.08.2</a></td>
   <td align="right">636kB</td>
   <td><tt>dee1a54c2db644d9105adb6d871730334b5285df</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksquares-22.08.2.tar.xz">ksquares-22.08.2</a></td>
   <td align="right">301kB</td>
   <td><tt>efb39dbed010dae3a1f049f292b9d7f660ca915f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksudoku-22.08.2.tar.xz">ksudoku-22.08.2</a></td>
   <td align="right">1650kB</td>
   <td><tt>b039b956b33c12dd906fcd189ce82207ab3cc891</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ksystemlog-22.08.2.tar.xz">ksystemlog-22.08.2</a></td>
   <td align="right">1923kB</td>
   <td><tt>f53f0f676798aaf48e7d53d3f279e9f93a245550</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kteatime-22.08.2.tar.xz">kteatime-22.08.2</a></td>
   <td align="right">295kB</td>
   <td><tt>c541088ba72693bef15eded556cd41aabf004dcd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktimer-22.08.2.tar.xz">ktimer-22.08.2</a></td>
   <td align="right">385kB</td>
   <td><tt>1cb6199066812ce830506554bffe0561da296162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktnef-22.08.2.tar.xz">ktnef-22.08.2</a></td>
   <td align="right">296kB</td>
   <td><tt>1f5a6e389a8571d3409a107322e7fe1d412174d7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktorrent-22.08.2.tar.xz">ktorrent-22.08.2</a></td>
   <td align="right">2007kB</td>
   <td><tt>828963cea16bcf615b9a966731766dd46418d833</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktouch-22.08.2.tar.xz">ktouch-22.08.2</a></td>
   <td align="right">4873kB</td>
   <td><tt>f7a79186f07acebb408b9cbcae338a34a42cf73f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-accounts-kcm-22.08.2.tar.xz">ktp-accounts-kcm-22.08.2</a></td>
   <td align="right">260kB</td>
   <td><tt>f738a8a1630519ccce42804b2a52087382fb36c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-approver-22.08.2.tar.xz">ktp-approver-22.08.2</a></td>
   <td align="right">37kB</td>
   <td><tt>496166b6424f3d02141fdc005a8e38e5dbd57e48</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-auth-handler-22.08.2.tar.xz">ktp-auth-handler-22.08.2</a></td>
   <td align="right">46kB</td>
   <td><tt>c55694ce7908ecb7af1239b357af1057694b3b09</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-call-ui-22.08.2.tar.xz">ktp-call-ui-22.08.2</a></td>
   <td align="right">96kB</td>
   <td><tt>1e9956e38c78775c84dfd385032c43274708c059</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-common-internals-22.08.2.tar.xz">ktp-common-internals-22.08.2</a></td>
   <td align="right">440kB</td>
   <td><tt>ebda869f8f21801030f22c1125678d258bf39eb7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-contact-list-22.08.2.tar.xz">ktp-contact-list-22.08.2</a></td>
   <td align="right">152kB</td>
   <td><tt>d871e481e9e514b3302d72852a701805b2ca4d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-contact-runner-22.08.2.tar.xz">ktp-contact-runner-22.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>a1e9967a7338b2700a987f9bc8d835fe225f8cef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-desktop-applets-22.08.2.tar.xz">ktp-desktop-applets-22.08.2</a></td>
   <td align="right">42kB</td>
   <td><tt>50c3980452db6baa0e8511c9b70499a4d7ceedfa</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-filetransfer-handler-22.08.2.tar.xz">ktp-filetransfer-handler-22.08.2</a></td>
   <td align="right">45kB</td>
   <td><tt>9a1acca18de3700ae77a85a5f19c3eb6f06e3f3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-kded-module-22.08.2.tar.xz">ktp-kded-module-22.08.2</a></td>
   <td align="right">98kB</td>
   <td><tt>55fc0071ca39d45c3ebb6c295b0c1a4596818960</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-send-file-22.08.2.tar.xz">ktp-send-file-22.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>51788b42f6d448e7dd50ef2a4a377d3aa728581e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktp-text-ui-22.08.2.tar.xz">ktp-text-ui-22.08.2</a></td>
   <td align="right">464kB</td>
   <td><tt>5ae3a924dc4d5f6e2fc729519d1cd12770e7d77e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/ktuberling-22.08.2.tar.xz">ktuberling-22.08.2</a></td>
   <td align="right">69738kB</td>
   <td><tt>f3ada41dce6a76ba086017c57014fb078d7fd2af</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kturtle-22.08.2.tar.xz">kturtle-22.08.2</a></td>
   <td align="right">1921kB</td>
   <td><tt>bd374470a823e9e9528f4c512d0ea51eabf11a30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kubrick-22.08.2.tar.xz">kubrick-22.08.2</a></td>
   <td align="right">335kB</td>
   <td><tt>de403ee5007895cbc446065ff9701ca4f0a5eed0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kwalletmanager-22.08.2.tar.xz">kwalletmanager-22.08.2</a></td>
   <td align="right">785kB</td>
   <td><tt>bc39b9c4c58f84fe4f42b050812a749c29ac1f67</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kwave-22.08.2.tar.xz">kwave-22.08.2</a></td>
   <td align="right">6793kB</td>
   <td><tt>7b97787bba606ca43040bd1a71e7c15d45210f6d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/kwordquiz-22.08.2.tar.xz">kwordquiz-22.08.2</a></td>
   <td align="right">4117kB</td>
   <td><tt>f629aad6001765f56a4791e8a5f3ade02ef41221</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libgravatar-22.08.2.tar.xz">libgravatar-22.08.2</a></td>
   <td align="right">35kB</td>
   <td><tt>64cf1e6afbe1948f16a0aca0dbc6ad774c0ea599</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkcddb-22.08.2.tar.xz">libkcddb-22.08.2</a></td>
   <td align="right">425kB</td>
   <td><tt>58baaa87b05e838fd169e328625472839fbe60ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkcompactdisc-22.08.2.tar.xz">libkcompactdisc-22.08.2</a></td>
   <td align="right">95kB</td>
   <td><tt>ab3663221bfb97fd83254c5dca66daae18172e44</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkdcraw-22.08.2.tar.xz">libkdcraw-22.08.2</a></td>
   <td align="right">36kB</td>
   <td><tt>138a0675435c4ecd667e700afdc6fe73a46b6405</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkdegames-22.08.2.tar.xz">libkdegames-22.08.2</a></td>
   <td align="right">5809kB</td>
   <td><tt>6c4202f2551593786a82a07cc52119ac277713bf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkdepim-22.08.2.tar.xz">libkdepim-22.08.2</a></td>
   <td align="right">242kB</td>
   <td><tt>1dc02265c385b2a04c6a7b66f5a09d7196659887</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkeduvocdocument-22.08.2.tar.xz">libkeduvocdocument-22.08.2</a></td>
   <td align="right">209kB</td>
   <td><tt>c06a596d2217617df5cbff777541d667bd03a227</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkexiv2-22.08.2.tar.xz">libkexiv2-22.08.2</a></td>
   <td align="right">58kB</td>
   <td><tt>9c8e65f923368d201ee0d604f1c4997f0e7db990</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkgapi-22.08.2.tar.xz">libkgapi-22.08.2</a></td>
   <td align="right">236kB</td>
   <td><tt>def3ae1f838e362026e82225d89d34f48acfe934</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkipi-22.08.2.tar.xz">libkipi-22.08.2</a></td>
   <td align="right">86kB</td>
   <td><tt>402eb92b6ef9fc84210af9dd69a94b6567fe63de</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkleo-22.08.2.tar.xz">libkleo-22.08.2</a></td>
   <td align="right">458kB</td>
   <td><tt>2ed72e52638fadc688f8d2ae48900ddbb2111dc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkmahjongg-22.08.2.tar.xz">libkmahjongg-22.08.2</a></td>
   <td align="right">1646kB</td>
   <td><tt>9948887ebb4f6013f537ec9634e0871227eaf251</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libkomparediff2-22.08.2.tar.xz">libkomparediff2-22.08.2</a></td>
   <td align="right">165kB</td>
   <td><tt>fd1d7993097ee12dd90656750b53527713a6a8a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libksane-22.08.2.tar.xz">libksane-22.08.2</a></td>
   <td align="right">144kB</td>
   <td><tt>baf310ff1deca6878de76e1ddd78d215af6cbe49</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libksieve-22.08.2.tar.xz">libksieve-22.08.2</a></td>
   <td align="right">563kB</td>
   <td><tt>ffe01e83a5094dc1e173a5c52fccb8b1e8a0c1d9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/libktorrent-22.08.2.tar.xz">libktorrent-22.08.2</a></td>
   <td align="right">581kB</td>
   <td><tt>6d61c20af100a69f1f29be2ff441f006aa7e1f2e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/lokalize-22.08.2.tar.xz">lokalize-22.08.2</a></td>
   <td align="right">2022kB</td>
   <td><tt>da0287e0938747ae1d1796994e07761b15f3e894</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/lskat-22.08.2.tar.xz">lskat-22.08.2</a></td>
   <td align="right">1206kB</td>
   <td><tt>cea35c306face8fd9b58739ac60fc7f1b76f1273</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/mailcommon-22.08.2.tar.xz">mailcommon-22.08.2</a></td>
   <td align="right">728kB</td>
   <td><tt>df2ef00f1f4499cba8a08fa4af9a9e1f7dd8ccb9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/mailimporter-22.08.2.tar.xz">mailimporter-22.08.2</a></td>
   <td align="right">547kB</td>
   <td><tt>b7ac6e7caca088e4445aa1df7bebfa2925382e2d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/marble-22.08.2.tar.xz">marble-22.08.2</a></td>
   <td align="right">52409kB</td>
   <td><tt>35937ca3cce1acfa32d5467527e567ff3faab2cd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/markdownpart-22.08.2.tar.xz">markdownpart-22.08.2</a></td>
   <td align="right">29kB</td>
   <td><tt>db8861acbb39c9484cc713a9d4fe27d8f02acf97</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/mbox-importer-22.08.2.tar.xz">mbox-importer-22.08.2</a></td>
   <td align="right">28kB</td>
   <td><tt>903f31b33513b4b324adb8b8a8d020f12337ed3e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/messagelib-22.08.2.tar.xz">messagelib-22.08.2</a></td>
   <td align="right">10489kB</td>
   <td><tt>c432077de83774a551a1c6a0c44ae4c52ad90805</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/minuet-22.08.2.tar.xz">minuet-22.08.2</a></td>
   <td align="right">27032kB</td>
   <td><tt>9223b4c1946b053ecd55d6df0bc7701cbd5d0d9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/okular-22.08.2.tar.xz">okular-22.08.2</a></td>
   <td align="right">8032kB</td>
   <td><tt>c9d46aa2ebc2cf437588d7d301e0a1d7fa04fdea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/palapeli-22.08.2.tar.xz">palapeli-22.08.2</a></td>
   <td align="right">2053kB</td>
   <td><tt>a78e5aff9e698e4be390de69e1881b6a9d12604e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/parley-22.08.2.tar.xz">parley-22.08.2</a></td>
   <td align="right">8284kB</td>
   <td><tt>c64d6b6e00d360d45c72289055850aea035b6e96</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/partitionmanager-22.08.2.tar.xz">partitionmanager-22.08.2</a></td>
   <td align="right">2052kB</td>
   <td><tt>f160e7268f1fffcc5efbb87679455b601cff64f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/picmi-22.08.2.tar.xz">picmi-22.08.2</a></td>
   <td align="right">1502kB</td>
   <td><tt>97b961f58f0f49135737d3d8bd9d1cf28d56343d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/pimcommon-22.08.2.tar.xz">pimcommon-22.08.2</a></td>
   <td align="right">362kB</td>
   <td><tt>41559041d657f00d026215887e4e191acf8cc121</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/pim-data-exporter-22.08.2.tar.xz">pim-data-exporter-22.08.2</a></td>
   <td align="right">406kB</td>
   <td><tt>66c7abb6e9a65df2f8aaba6aad7625dc3fd0f24a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/pim-sieve-editor-22.08.2.tar.xz">pim-sieve-editor-22.08.2</a></td>
   <td align="right">447kB</td>
   <td><tt>90e7f0a435ecea153a71ecb98e71a691a73983ee</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/poxml-22.08.2.tar.xz">poxml-22.08.2</a></td>
   <td align="right">43kB</td>
   <td><tt>47652736d05f3ca48c6b3a48225be9b82ebf99b1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/print-manager-22.08.2.tar.xz">print-manager-22.08.2</a></td>
   <td align="right">271kB</td>
   <td><tt>999d46140a464e5f9b4b7f54215be3342fdf3ca0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/rocs-22.08.2.tar.xz">rocs-22.08.2</a></td>
   <td align="right">1527kB</td>
   <td><tt>cb9565892eb27f7304baae9203b3b158e57621ed</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/signon-kwallet-extension-22.08.2.tar.xz">signon-kwallet-extension-22.08.2</a></td>
   <td align="right">10kB</td>
   <td><tt>6a0411801afce1fed2e0fcb80b8d9c03e4e9e305</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/skanlite-22.08.2.tar.xz">skanlite-22.08.2</a></td>
   <td align="right">2384kB</td>
   <td><tt>c12d7a4f7ce6a23512ab3b1c665d4f3c0d581b85</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/skanpage-22.08.2.tar.xz">skanpage-22.08.2</a></td>
   <td align="right">1260kB</td>
   <td><tt>0a88422febe3d1c8ba3a98fe1cd989f06677550e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/spectacle-22.08.2.tar.xz">spectacle-22.08.2</a></td>
   <td align="right">1225kB</td>
   <td><tt>b37a14c4f072de52aa9ffbf96cac7e89e848ada2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/step-22.08.2.tar.xz">step-22.08.2</a></td>
   <td align="right">915kB</td>
   <td><tt>e99ee829c208b1a1772d7c3df7e8e5a30ec6906f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/svgpart-22.08.2.tar.xz">svgpart-22.08.2</a></td>
   <td align="right">26kB</td>
   <td><tt>948ab67f5618c15628fa7d5cb71e6680e4a056e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/sweeper-22.08.2.tar.xz">sweeper-22.08.2</a></td>
   <td align="right">369kB</td>
   <td><tt>eee2c7b66817022b644424c3162aabc2bc276777</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/umbrello-22.08.2.tar.xz">umbrello-22.08.2</a></td>
   <td align="right">5553kB</td>
   <td><tt>6b6ee65779408cc5decfe3be812e7dabbdd61d07</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/yakuake-22.08.2.tar.xz">yakuake-22.08.2</a></td>
   <td align="right">403kB</td>
   <td><tt>8eeec708eb48854fce7d78fa3306b3785599f9c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/stable/release-service/22.08.2/src/zanshin-22.08.2.tar.xz">zanshin-22.08.2</a></td>
   <td align="right">346kB</td>
   <td><tt>56f19fef3ccd3d0d5e608f668d039b978319f583</tt></td>
</tr>

</table>
