<table border="0" cellpadding="4" cellspacing="0">
<tr valign="top">
  <th align="left">Location</th>
  <th align="left">Size</th>
  <th align="left">Sha1 Sum</th>
</tr>
<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/amor-15.03.95.tar.xz">amor-15.03.95</a></td>
   <td align="right">171kB</td>
   <td><tt>feb4286bce23d78aa01d89bff8870aadbbed2880</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/analitza-15.03.95.tar.xz">analitza-15.03.95</a></td>
   <td align="right">222kB</td>
   <td><tt>7554e85ed9b6e33d74038501a6c22c06d902af9e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ark-15.03.95.tar.xz">ark-15.03.95</a></td>
   <td align="right">232kB</td>
   <td><tt>4ad4c0698143b0c9b7630c9df10694ab53004d98</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/artikulate-15.03.95.tar.xz">artikulate-15.03.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>8f760b276a7fc6b63d9eab02a225fa75d9e2b20a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/audiocd-kio-15.03.95.tar.xz">audiocd-kio-15.03.95</a></td>
   <td align="right">50kB</td>
   <td><tt>b5ee0810987ae3ecfd1b88e776b6d1d3acb77875</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/blinken-15.03.95.tar.xz">blinken-15.03.95</a></td>
   <td align="right">553kB</td>
   <td><tt>21feec15c2e0b6a5b54e1dbd91788d9ac62e007b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/bomber-15.03.95.tar.xz">bomber-15.03.95</a></td>
   <td align="right">383kB</td>
   <td><tt>5db5f9ac59b5f8f5e90d41d397a93e5aa1fccbf1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/bovo-15.03.95.tar.xz">bovo-15.03.95</a></td>
   <td align="right">102kB</td>
   <td><tt>ebf931a7bd1935d87a9b404c2d2273cc9b6f1162</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/cantor-15.03.95.tar.xz">cantor-15.03.95</a></td>
   <td align="right">347kB</td>
   <td><tt>ac89e0769f60d197ac29dd26b7b25ed5bf46c31a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/cervisia-15.03.95.tar.xz">cervisia-15.03.95</a></td>
   <td align="right">364kB</td>
   <td><tt>b2c47089d35c1c99ea4d6c2073945c9540aaa04b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/dolphin-plugins-15.03.95.tar.xz">dolphin-plugins-15.03.95</a></td>
   <td align="right">57kB</td>
   <td><tt>800a9c2b0bbccf0c0bd801b03fb7e9151bb441fc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/dragon-15.03.95.tar.xz">dragon-15.03.95</a></td>
   <td align="right">390kB</td>
   <td><tt>0192e12d23f371bb97fb1bf93cc67faeb8d6d10d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ffmpegthumbs-15.03.95.tar.xz">ffmpegthumbs-15.03.95</a></td>
   <td align="right">19kB</td>
   <td><tt>733e0f875d7a188d9743dcf2feb38b3479ab92e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/filelight-15.03.95.tar.xz">filelight-15.03.95</a></td>
   <td align="right">280kB</td>
   <td><tt>6a1bd71a8080c75cdfb076b7d03507ed60a4fd30</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/granatier-15.03.95.tar.xz">granatier-15.03.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>4e1028256e0c3ca596dc8e82a5f31c705f693d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/gwenview-15.03.95.tar.xz">gwenview-15.03.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>eee6cf9224018de793bad41c24c1ab29649f117b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/jovie-15.03.95.tar.xz">jovie-15.03.95</a></td>
   <td align="right">380kB</td>
   <td><tt>eba65515ac0bb220f33d36c74856ef0e9c19b804</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/juk-15.03.95.tar.xz">juk-15.03.95</a></td>
   <td align="right">433kB</td>
   <td><tt>587147025a4b58cd94434883489dc16378d5fcbc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kaccessible-15.03.95.tar.xz">kaccessible-15.03.95</a></td>
   <td align="right">20kB</td>
   <td><tt>460bca31197b45d5169bc03097d90b6995c1f692</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kaccounts-integration-15.03.95.tar.xz">kaccounts-integration-15.03.95</a></td>
   <td align="right">52kB</td>
   <td><tt>a0ea72cd77661fac76a01c6eeac4b70f999ef9b9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kaccounts-providers-15.03.95.tar.xz">kaccounts-providers-15.03.95</a></td>
   <td align="right">11kB</td>
   <td><tt>a4d7a785c0ea0a4c20a6a50054a51194dd449cb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kajongg-15.03.95.tar.xz">kajongg-15.03.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>4a08fa84355b4365de35235bfede2d7b9eecae59</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kalgebra-15.03.95.tar.xz">kalgebra-15.03.95</a></td>
   <td align="right">263kB</td>
   <td><tt>62ab0d5bc6ed4b1fbfbd86a301ce54d6c5ca4ad6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kalzium-15.03.95.tar.xz">kalzium-15.03.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>7dbe325ec644c9dafc4c0a7cfa32e6c68c538b26</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kamera-15.03.95.tar.xz">kamera-15.03.95</a></td>
   <td align="right">34kB</td>
   <td><tt>402093e510533697749df03dc51d363b3b14f8e0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kanagram-15.03.95.tar.xz">kanagram-15.03.95</a></td>
   <td align="right">4.5MB</td>
   <td><tt>d2a80f3b1aae9870c780a43acc7ecd0a260537a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kapman-15.03.95.tar.xz">kapman-15.03.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>7ce109a327e5baefd5e47432714857f394e799f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kapptemplate-15.03.95.tar.xz">kapptemplate-15.03.95</a></td>
   <td align="right">689kB</td>
   <td><tt>ca9fceb79dac0556889fe54f2c77aa05308eb555</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kate-15.03.95.tar.xz">kate-15.03.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>292f371c8a31cd2c2ae61fb6760176439e9ae650</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/katomic-15.03.95.tar.xz">katomic-15.03.95</a></td>
   <td align="right">645kB</td>
   <td><tt>69c0ec2bfc61a32418394d9cfa459ace293c5600</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kblackbox-15.03.95.tar.xz">kblackbox-15.03.95</a></td>
   <td align="right">254kB</td>
   <td><tt>a0b350e52c015abd3e937ea6fd95c8e8787758c3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kblocks-15.03.95.tar.xz">kblocks-15.03.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>ec2881ab72ee1363512b93ff7cbeeae52bc29725</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kbounce-15.03.95.tar.xz">kbounce-15.03.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>fdec91d481f34e8e6cfb92358d28d53c8e999e64</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kbreakout-15.03.95.tar.xz">kbreakout-15.03.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>64351bbf8fda6ac342dcd687316798076a4e00e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kbruch-15.03.95.tar.xz">kbruch-15.03.95</a></td>
   <td align="right">883kB</td>
   <td><tt>4d2e8a816b818712f7cfc986b58acd2a131ba12c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kcachegrind-15.03.95.tar.xz">kcachegrind-15.03.95</a></td>
   <td align="right">230kB</td>
   <td><tt>e621b2ccd4bbb08fd0a4b550801d5075ff16d323</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kcalc-15.03.95.tar.xz">kcalc-15.03.95</a></td>
   <td align="right">81kB</td>
   <td><tt>808ff3ea2adcc3c62a32004e1a3f7ac9cb91dc74</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kcharselect-15.03.95.tar.xz">kcharselect-15.03.95</a></td>
   <td align="right">82kB</td>
   <td><tt>75a957925dad20b079ccd0ef38f53b8577607c0d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kcolorchooser-15.03.95.tar.xz">kcolorchooser-15.03.95</a></td>
   <td align="right">4kB</td>
   <td><tt>692db103955fde01506b8c114c64153560d72ed8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kcron-15.03.95.tar.xz">kcron-15.03.95</a></td>
   <td align="right">170kB</td>
   <td><tt>4765310e2b2e7fc7c5ce261cbd995898bec9e6c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdeartwork-15.03.95.tar.xz">kdeartwork-15.03.95</a></td>
   <td align="right">134MB</td>
   <td><tt>4c0e738772222512162c833d8dfa80432df7ef51</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-baseapps-15.03.95.tar.xz">kde-baseapps-15.03.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>ddc67236bfa70ff60671cd745be33a2ec14ece80</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-base-artwork-15.03.95.tar.xz">kde-base-artwork-15.03.95</a></td>
   <td align="right">7.0MB</td>
   <td><tt>a2345c12915dee97344b85fcc54981afe959147d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-dev-scripts-15.03.95.tar.xz">kde-dev-scripts-15.03.95</a></td>
   <td align="right">299kB</td>
   <td><tt>493cf311b011de621ed2584f4257bdbac2ada760</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-dev-utils-15.03.95.tar.xz">kde-dev-utils-15.03.95</a></td>
   <td align="right">50kB</td>
   <td><tt>a013be088cef756200c3b74dbcc5e910d4b45fbf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdeedu-data-15.03.95.tar.xz">kdeedu-data-15.03.95</a></td>
   <td align="right">94kB</td>
   <td><tt>f920474960ea862b3ba806cd13c3cdb5ac9122a5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdegraphics-mobipocket-15.03.95.tar.xz">kdegraphics-mobipocket-15.03.95</a></td>
   <td align="right">14kB</td>
   <td><tt>8bf8d245f3b1638f3dfa01367393b2eed368cda1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdegraphics-strigi-analyzer-15.03.95.tar.xz">kdegraphics-strigi-analyzer-15.03.95</a></td>
   <td align="right">39kB</td>
   <td><tt>e97fba7f44f3d2ac56696a7d92d730c8cbf5225d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdegraphics-thumbnailers-15.03.95.tar.xz">kdegraphics-thumbnailers-15.03.95</a></td>
   <td align="right">40kB</td>
   <td><tt>f06400949ec238e585ce591a2d8def6f7e7a8cc3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdenetwork-filesharing-15.03.95.tar.xz">kdenetwork-filesharing-15.03.95</a></td>
   <td align="right">26kB</td>
   <td><tt>8b2711c074a12988fcae08bfb6dd88b9570b11f5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdenetwork-strigi-analyzers-15.03.95.tar.xz">kdenetwork-strigi-analyzers-15.03.95</a></td>
   <td align="right">14kB</td>
   <td><tt>3988cf6781a382e2f9221dce20f82b01dbabafec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdenlive-15.03.95.tar.xz">kdenlive-15.03.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>4805d1a282df2e7ab65c508794d29271cccad24e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-runtime-15.03.95.tar.xz">kde-runtime-15.03.95</a></td>
   <td align="right">7.5MB</td>
   <td><tt>b1ab62a12a4bd2ac40711ace8d81557d178f07e5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdesdk-kioslaves-15.03.95.tar.xz">kdesdk-kioslaves-15.03.95</a></td>
   <td align="right">353kB</td>
   <td><tt>7e8f78d2af654fa75038eb9f216d651af27628ce</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdesdk-strigi-analyzers-15.03.95.tar.xz">kdesdk-strigi-analyzers-15.03.95</a></td>
   <td align="right">17kB</td>
   <td><tt>020186a6175bd4701f34452c3577e4c3cf77a598</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdesdk-thumbnailers-15.03.95.tar.xz">kdesdk-thumbnailers-15.03.95</a></td>
   <td align="right">11kB</td>
   <td><tt>9bca1beec18d0834345de84701f058b27bc1ba24</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-wallpapers-15.03.95.tar.xz">kde-wallpapers-15.03.95</a></td>
   <td align="right">86MB</td>
   <td><tt>4626ff392dc44112c361459f9668f34545b095ab</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdewebdev-15.03.95.tar.xz">kdewebdev-15.03.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>21629ad675362e8bf458917962205faf8824515b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdf-15.03.95.tar.xz">kdf-15.03.95</a></td>
   <td align="right">145kB</td>
   <td><tt>285187b639b48cf78b2691e1b0049f82fc0f755b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kdiamond-15.03.95.tar.xz">kdiamond-15.03.95</a></td>
   <td align="right">3.9MB</td>
   <td><tt>2bf5e269d25fe6e913bba766a5d6e4ae5201bd39</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kfloppy-15.03.95.tar.xz">kfloppy-15.03.95</a></td>
   <td align="right">52kB</td>
   <td><tt>c34f17979ff49587bfcfe8ff32ace85634c277ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kfourinline-15.03.95.tar.xz">kfourinline-15.03.95</a></td>
   <td align="right">274kB</td>
   <td><tt>428058ff9b364dcb7d0eae3fcc8a88c12329480b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kgamma-15.03.95.tar.xz">kgamma-15.03.95</a></td>
   <td align="right">22kB</td>
   <td><tt>a15d07095d286bce27d4bc17db91305342571b12</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kgeography-15.03.95.tar.xz">kgeography-15.03.95</a></td>
   <td align="right">6.4MB</td>
   <td><tt>b99b79020b918fd8358ce5aef6a13058658e1cd5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kget-15.03.95.tar.xz">kget-15.03.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>6b811b71010c475c76eb0ea7f9927000188b29fb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kgoldrunner-15.03.95.tar.xz">kgoldrunner-15.03.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>b1a1fd7c98e0ccee1290b0ad1fcd1c31a07c6c81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kgpg-15.03.95.tar.xz">kgpg-15.03.95</a></td>
   <td align="right">790kB</td>
   <td><tt>e6ccd455d5f926f94dd5f51ac5ad8792559628f6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/khangman-15.03.95.tar.xz">khangman-15.03.95</a></td>
   <td align="right">3.7MB</td>
   <td><tt>634f22aef0730a263421f174d126648d0ca65c32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kig-15.03.95.tar.xz">kig-15.03.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>f052dd887d19efd0a198dbc19af94640527d62f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kigo-15.03.95.tar.xz">kigo-15.03.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>2a9f3289e99420d9c998cae2527b1b5895cd5832</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/killbots-15.03.95.tar.xz">killbots-15.03.95</a></td>
   <td align="right">940kB</td>
   <td><tt>855aa4cd5db15e2b492eec4859d6e4066d3f43cb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kiriki-15.03.95.tar.xz">kiriki-15.03.95</a></td>
   <td align="right">114kB</td>
   <td><tt>127c2f2ce3c975311667f48885fb874cfef9dba5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kiten-15.03.95.tar.xz">kiten-15.03.95</a></td>
   <td align="right">11MB</td>
   <td><tt>96e10747acb097a0b074209a8412d2199bfa0eb5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kjumpingcube-15.03.95.tar.xz">kjumpingcube-15.03.95</a></td>
   <td align="right">161kB</td>
   <td><tt>458a0e0d7568686c14fbecba4ed676deb3c9c511</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/klettres-15.03.95.tar.xz">klettres-15.03.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>63fbc6529ced4da7bab48439c4417d93b53d1d04</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/klickety-15.03.95.tar.xz">klickety-15.03.95</a></td>
   <td align="right">765kB</td>
   <td><tt>2ab85f3775ac50d85f218ace77f0c87c9e5bee33</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/klines-15.03.95.tar.xz">klines-15.03.95</a></td>
   <td align="right">927kB</td>
   <td><tt>03ebfa270d166de8c43cc8ca1d375fbcafba84d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmag-15.03.95.tar.xz">kmag-15.03.95</a></td>
   <td align="right">84kB</td>
   <td><tt>9411c990c0c19aa2419c8ef46adba4336a9a13e8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmahjongg-15.03.95.tar.xz">kmahjongg-15.03.95</a></td>
   <td align="right">984kB</td>
   <td><tt>051bc1a7042e45a07a5be56f6d600aa10172d41b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmines-15.03.95.tar.xz">kmines-15.03.95</a></td>
   <td align="right">609kB</td>
   <td><tt>28d37722d92a8313f43d825aea0ef68bdd486e81</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmix-15.03.95.tar.xz">kmix-15.03.95</a></td>
   <td align="right">379kB</td>
   <td><tt>1de2de9511c02f824b98497a92e091a4ca18c81b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmousetool-15.03.95.tar.xz">kmousetool-15.03.95</a></td>
   <td align="right">34kB</td>
   <td><tt>35986fb5d5fd49dafd465875e92191d4677c7933</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmouth-15.03.95.tar.xz">kmouth-15.03.95</a></td>
   <td align="right">301kB</td>
   <td><tt>5c90c292e30ae071e4f85ac3304a82822a534742</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kmplot-15.03.95.tar.xz">kmplot-15.03.95</a></td>
   <td align="right">646kB</td>
   <td><tt>7d596ad97a28df590d90153c4233385bd58a8156</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/knavalbattle-15.03.95.tar.xz">knavalbattle-15.03.95</a></td>
   <td align="right">834kB</td>
   <td><tt>3263b696ee25b907ad77c7730f4efedb8bedee08</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/knetwalk-15.03.95.tar.xz">knetwalk-15.03.95</a></td>
   <td align="right">764kB</td>
   <td><tt>0d51d6145aa842d8fd79c96f1b63b5f0dc2d46fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kolf-15.03.95.tar.xz">kolf-15.03.95</a></td>
   <td align="right">749kB</td>
   <td><tt>9224b994374947757260c995631eaed5be8fa487</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kollision-15.03.95.tar.xz">kollision-15.03.95</a></td>
   <td align="right">202kB</td>
   <td><tt>000abd44c500d9228f6ac3ed818da17607852400</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kolourpaint-15.03.95.tar.xz">kolourpaint-15.03.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>91dbe8961b735346f3f0664648b8a8b2e594037f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kompare-15.03.95.tar.xz">kompare-15.03.95</a></td>
   <td align="right">336kB</td>
   <td><tt>add9ead51c0a0921b4285a3886ca7106ce361dc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/konquest-15.03.95.tar.xz">konquest-15.03.95</a></td>
   <td align="right">396kB</td>
   <td><tt>c4bf57601d88fefe3cf4f57143f6f76ba6d18f15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/konsole-15.03.95.tar.xz">konsole-15.03.95</a></td>
   <td align="right">450kB</td>
   <td><tt>bedae1b0e08c678122074a6760bd25ded5949412</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kopete-15.03.95.tar.xz">kopete-15.03.95</a></td>
   <td align="right">6.0MB</td>
   <td><tt>d3ec00ac4fefd253860ae376d7c6494ba00ffe61</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kpat-15.03.95.tar.xz">kpat-15.03.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>fb48f2ffdb855df2cb17264f3fce245444b433d6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kppp-15.03.95.tar.xz">kppp-15.03.95</a></td>
   <td align="right">683kB</td>
   <td><tt>786e88d4177b3c9afda8bc33e1b4495c0c6bdb0b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kqtquickcharts-15.03.95.tar.xz">kqtquickcharts-15.03.95</a></td>
   <td align="right">20kB</td>
   <td><tt>f5537621956df32a7b88712b8e7bbb39d1432f28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/krdc-15.03.95.tar.xz">krdc-15.03.95</a></td>
   <td align="right">389kB</td>
   <td><tt>3cda8c32978af76f08086b3c08b52929aface648</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kremotecontrol-15.03.95.tar.xz">kremotecontrol-15.03.95</a></td>
   <td align="right">1.0MB</td>
   <td><tt>631dac2d8a336c80dd929c5d052385ff00810e02</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kreversi-15.03.95.tar.xz">kreversi-15.03.95</a></td>
   <td align="right">464kB</td>
   <td><tt>372fecbd1fcc448f16d7e456a3f87b1622ffaecd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/krfb-15.03.95.tar.xz">krfb-15.03.95</a></td>
   <td align="right">319kB</td>
   <td><tt>1f2603246a8dd60026e33c06533e5b8e0f742bb1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kruler-15.03.95.tar.xz">kruler-15.03.95</a></td>
   <td align="right">126kB</td>
   <td><tt>8e6c35315b71a1dc8d82a9bd62dc5edd6c2a3ff5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksaneplugin-15.03.95.tar.xz">ksaneplugin-15.03.95</a></td>
   <td align="right">12kB</td>
   <td><tt>b5a4a28673465b2d2fba1e15738068ad58d92bb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kscd-15.03.95.tar.xz">kscd-15.03.95</a></td>
   <td align="right">90kB</td>
   <td><tt>2ba1f4f416920f4affc60fd946cc2fb305175983</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kshisen-15.03.95.tar.xz">kshisen-15.03.95</a></td>
   <td align="right">133kB</td>
   <td><tt>119eaf1d6ae75746004dfb432d7eb446508ab3c1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksirk-15.03.95.tar.xz">ksirk-15.03.95</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f6631210935a1bf43bb163f289678d782d33f6c2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksnakeduel-15.03.95.tar.xz">ksnakeduel-15.03.95</a></td>
   <td align="right">290kB</td>
   <td><tt>b720cbdc732625fb97902f9de7385cda728c7259</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksnapshot-15.03.95.tar.xz">ksnapshot-15.03.95</a></td>
   <td align="right">252kB</td>
   <td><tt>78565917ee469c51801b681893324550ff1943d3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kspaceduel-15.03.95.tar.xz">kspaceduel-15.03.95</a></td>
   <td align="right">247kB</td>
   <td><tt>a9411eac4fbfeb27e9a039f3511767215f8816a6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksquares-15.03.95.tar.xz">ksquares-15.03.95</a></td>
   <td align="right">78kB</td>
   <td><tt>ab85a1bda9a46df625bc056cc52bc98abc6ac508</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kstars-15.03.95.tar.xz">kstars-15.03.95</a></td>
   <td align="right">12MB</td>
   <td><tt>318b63e5d72d4f92c1434f39a7eba9f0b719d56d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksudoku-15.03.95.tar.xz">ksudoku-15.03.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>de32e0c4c3d3264c1fd813279f4463afca9bfd6b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ksystemlog-15.03.95.tar.xz">ksystemlog-15.03.95</a></td>
   <td align="right">372kB</td>
   <td><tt>bc92f9f5924b5891e7532874662cda3d90352666</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kteatime-15.03.95.tar.xz">kteatime-15.03.95</a></td>
   <td align="right">101kB</td>
   <td><tt>26eafc330d6d7021cff6a8b3faeee3c02437e477</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktimer-15.03.95.tar.xz">ktimer-15.03.95</a></td>
   <td align="right">143kB</td>
   <td><tt>0f32321ab0562059b4174c1adf0df4e6c7dcbd50</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktouch-15.03.95.tar.xz">ktouch-15.03.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>681dc5c92c18748a76326bb8de8ebd24e81136d2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-accounts-kcm-15.03.95.tar.xz">ktp-accounts-kcm-15.03.95</a></td>
   <td align="right">86kB</td>
   <td><tt>9c1b0da0305a6a7241752115e7e3ce01c7e1c3a9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-approver-15.03.95.tar.xz">ktp-approver-15.03.95</a></td>
   <td align="right">20kB</td>
   <td><tt>33d56192736907af5b4a85260a6351135e538d3f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-auth-handler-15.03.95.tar.xz">ktp-auth-handler-15.03.95</a></td>
   <td align="right">26kB</td>
   <td><tt>a83fb6a136f87c9fd1330c0ec016d111ee668485</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-common-internals-15.03.95.tar.xz">ktp-common-internals-15.03.95</a></td>
   <td align="right">305kB</td>
   <td><tt>74cf104b8ab0b7105249fe6b6b482e5efe108160</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-contact-list-15.03.95.tar.xz">ktp-contact-list-15.03.95</a></td>
   <td align="right">47kB</td>
   <td><tt>5ed7deae58844490a996556590be3cc2573ac194</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-contact-runner-15.03.95.tar.xz">ktp-contact-runner-15.03.95</a></td>
   <td align="right">16kB</td>
   <td><tt>69d0e6b0fcce6492e1075f4ca28558d81ca75080</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-desktop-applets-15.03.95.tar.xz">ktp-desktop-applets-15.03.95</a></td>
   <td align="right">25kB</td>
   <td><tt>012f626f4ffc0dfd675a9c8a1d814c4263706b95</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-filetransfer-handler-15.03.95.tar.xz">ktp-filetransfer-handler-15.03.95</a></td>
   <td align="right">22kB</td>
   <td><tt>129c501196116cbb442b3641fef0390304fd4729</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-kded-module-15.03.95.tar.xz">ktp-kded-module-15.03.95</a></td>
   <td align="right">37kB</td>
   <td><tt>267098b6efb07f2a7f329494a134547883054216</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-send-file-15.03.95.tar.xz">ktp-send-file-15.03.95</a></td>
   <td align="right">14kB</td>
   <td><tt>60f0156c7d3d160a395131744155faae3f4cccea</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktp-text-ui-15.03.95.tar.xz">ktp-text-ui-15.03.95</a></td>
   <td align="right">283kB</td>
   <td><tt>866d96ef0eaed22c147bd1dd1cf4d763ee8527b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktuberling-15.03.95.tar.xz">ktuberling-15.03.95</a></td>
   <td align="right">4.0MB</td>
   <td><tt>47d3bbe99281d7b95bc3a02cafa048507ccc40d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kturtle-15.03.95.tar.xz">kturtle-15.03.95</a></td>
   <td align="right">189kB</td>
   <td><tt>054635af0104fd3abc9d77a2638a0d9ff4dfa5dc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/ktux-15.03.95.tar.xz">ktux-15.03.95</a></td>
   <td align="right">106kB</td>
   <td><tt>4ca14acb466880738f457c212164102d0cd720f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kubrick-15.03.95.tar.xz">kubrick-15.03.95</a></td>
   <td align="right">104kB</td>
   <td><tt>09975366865044a3313432cd5229cb5d20d5c298</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kuser-15.03.95.tar.xz">kuser-15.03.95</a></td>
   <td align="right">132kB</td>
   <td><tt>41d2ddb23971354310603a075eb5f1c6beaa60e7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kwalletmanager-15.03.95.tar.xz">kwalletmanager-15.03.95</a></td>
   <td align="right">445kB</td>
   <td><tt>eae4195fac0b94a11cde7e13ec48706f6f75e3b6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kwordquiz-15.03.95.tar.xz">kwordquiz-15.03.95</a></td>
   <td align="right">1.1MB</td>
   <td><tt>62c4e88ee76407fa330eb8cb2160cb7ef2d0e965</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkcddb-15.03.95.tar.xz">libkcddb-15.03.95</a></td>
   <td align="right">154kB</td>
   <td><tt>c421b7f768c5f7f20cffb3ab3497d60d9d6b120c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkcompactdisc-15.03.95.tar.xz">libkcompactdisc-15.03.95</a></td>
   <td align="right">74kB</td>
   <td><tt>b3755d2133a4a561ca323b9db8b14b8bc609b0a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkdcraw-15.03.95.tar.xz">libkdcraw-15.03.95</a></td>
   <td align="right">99kB</td>
   <td><tt>6af8ac39fff31b1ca10a11ae812e25b07f8a1daf</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkdeedu-15.03.95.tar.xz">libkdeedu-15.03.95</a></td>
   <td align="right">128kB</td>
   <td><tt>717b8fc76be1963cbdc22ef4c21eed7766d6bfa8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkdegames-15.03.95.tar.xz">libkdegames-15.03.95</a></td>
   <td align="right">5.5MB</td>
   <td><tt>c230a54b4fdb9ccf4b0971dfe13c4cb06d1afcf3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkeduvocdocument-15.03.95.tar.xz">libkeduvocdocument-15.03.95</a></td>
   <td align="right">96kB</td>
   <td><tt>b2d26819bc5dd534c9cc01cf08530037466d567b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkexiv2-15.03.95.tar.xz">libkexiv2-15.03.95</a></td>
   <td align="right">134kB</td>
   <td><tt>bee329c4a2e192ad56d05fac6d82450292e395e4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkface-15.03.95.tar.xz">libkface-15.03.95</a></td>
   <td align="right">8.5MB</td>
   <td><tt>0259c8ffb39cc721801525873536755e40a0ebc5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkgeomap-15.03.95.tar.xz">libkgeomap-15.03.95</a></td>
   <td align="right">121kB</td>
   <td><tt>0ea98397aea251c444c09790bd84b13a3c2cc1b8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkipi-15.03.95.tar.xz">libkipi-15.03.95</a></td>
   <td align="right">92kB</td>
   <td><tt>707f56b5ea45c16590052971e6a2d288ee2fc5eb</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkmahjongg-15.03.95.tar.xz">libkmahjongg-15.03.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>ec3716403a2c213e42ed82d3542199060906675a</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libkomparediff2-15.03.95.tar.xz">libkomparediff2-15.03.95</a></td>
   <td align="right">55kB</td>
   <td><tt>b20eb7136420683edf07170a1044d7689f5c8cf0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/libksane-15.03.95.tar.xz">libksane-15.03.95</a></td>
   <td align="right">79kB</td>
   <td><tt>9dfee622e0fad4bd2b7b33164019a534e00982fe</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/lokalize-15.03.95.tar.xz">lokalize-15.03.95</a></td>
   <td align="right">929kB</td>
   <td><tt>fcc60fbe3186e54e8ee27272bac2a58e994cc8b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/lskat-15.03.95.tar.xz">lskat-15.03.95</a></td>
   <td align="right">908kB</td>
   <td><tt>288675dc529aa50c07b9f942b851ac5c8fe5cec3</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/marble-15.03.95.tar.xz">marble-15.03.95</a></td>
   <td align="right">21MB</td>
   <td><tt>397354c4d2df124c2d0e883ac250841a06a8eb32</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/mplayerthumbs-15.03.95.tar.xz">mplayerthumbs-15.03.95</a></td>
   <td align="right">26kB</td>
   <td><tt>0d2219501feecc018468527a844080491ca4e9b2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/okteta-15.03.95.tar.xz">okteta-15.03.95</a></td>
   <td align="right">490kB</td>
   <td><tt>c16b7ade6c2525bf09b5c7bf32869eb6bc4e83ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/okular-15.03.95.tar.xz">okular-15.03.95</a></td>
   <td align="right">1.5MB</td>
   <td><tt>eddf96cce900d6d23226f078efb12fd5de4037f2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/oxygen-icons-15.03.95.tar.xz">oxygen-icons-15.03.95</a></td>
   <td align="right">219MB</td>
   <td><tt>517bff92bec8b34ae77ff68a2d3cce99e31019a8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/pairs-15.03.95.tar.xz">pairs-15.03.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>cc408aeee67dee02d6f8ba3aec1a13960122c4fd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/palapeli-15.03.95.tar.xz">palapeli-15.03.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>337643b02d0b7162f93756ba2075ac5a6aa88a93</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/parley-15.03.95.tar.xz">parley-15.03.95</a></td>
   <td align="right">4.5MB</td>
   <td><tt>0eba9a615d70ef55bdf4c8493d33b17c6197bd3b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/picmi-15.03.95.tar.xz">picmi-15.03.95</a></td>
   <td align="right">714kB</td>
   <td><tt>fffeaf7d1b7e1e3dd833a316a36f81a838757fbd</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/poxml-15.03.95.tar.xz">poxml-15.03.95</a></td>
   <td align="right">30kB</td>
   <td><tt>e2f46af65dfc7eaf52f1b86504f0ee6eac53d7d4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/print-manager-15.03.95.tar.xz">print-manager-15.03.95</a></td>
   <td align="right">91kB</td>
   <td><tt>9e0c6cbbff02ffaf11d312ba4a428ff7a9ae0bc4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/rocs-15.03.95.tar.xz">rocs-15.03.95</a></td>
   <td align="right">520kB</td>
   <td><tt>364c0471633accbd278484f218b357f3644cfb28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/signon-kwallet-extension-15.03.95.tar.xz">signon-kwallet-extension-15.03.95</a></td>
   <td align="right">10kB</td>
   <td><tt>59fd63f68b72840c06bf2ffd6ad10ea2ccc7aea5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/step-15.03.95.tar.xz">step-15.03.95</a></td>
   <td align="right">376kB</td>
   <td><tt>a68a7438e4e3900d83ab46e878a86197d631835c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/superkaramba-15.03.95.tar.xz">superkaramba-15.03.95</a></td>
   <td align="right">372kB</td>
   <td><tt>4a0cdd727443ee9a13fa1afd4e75bad7ad751065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/svgpart-15.03.95.tar.xz">svgpart-15.03.95</a></td>
   <td align="right">8kB</td>
   <td><tt>06bb8d74048473e2a5054a3b3ccbbe0a0c1e6ff7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/sweeper-15.03.95.tar.xz">sweeper-15.03.95</a></td>
   <td align="right">80kB</td>
   <td><tt>9922d9def3dad572af96c2f29a9796098551273b</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/umbrello-15.03.95.tar.xz">umbrello-15.03.95</a></td>
   <td align="right">1.4MB</td>
   <td><tt>396f0e9c643558efe05f71be9ee9ddba9fc9b2c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/zeroconf-ioslave-15.03.95.tar.xz">zeroconf-ioslave-15.03.95</a></td>
   <td align="right">25kB</td>
   <td><tt>84ba6f5103e276ba947a75145fc8c9e86a6a2065</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ar-15.03.95.tar.xz">kde-l10n-ar-15.03.95</a></td>
   <td align="right">3.2MB</td>
   <td><tt>af0c0b2c23dd367f417d7dc0a5b3b104580841ec</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-bg-15.03.95.tar.xz">kde-l10n-bg-15.03.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>bea8535040cf473a9445ec4d6f80bd0b64aa1b58</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-bs-15.03.95.tar.xz">kde-l10n-bs-15.03.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>cde224ff44b4323482c7048f1507445d19940f92</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ca-15.03.95.tar.xz">kde-l10n-ca-15.03.95</a></td>
   <td align="right">11MB</td>
   <td><tt>46532e668fd4b0bb5ed41bc77477fe13f8efa5f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ca@valencia-15.03.95.tar.xz">kde-l10n-ca@valencia-15.03.95</a></td>
   <td align="right">2.3MB</td>
   <td><tt>c63008eb065ffbac404f39b9178eb90884ef590e</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-cs-15.03.95.tar.xz">kde-l10n-cs-15.03.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>0851b72ba4f1cf6ba197b191b9b803792a65cfdc</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-da-15.03.95.tar.xz">kde-l10n-da-15.03.95</a></td>
   <td align="right">12MB</td>
   <td><tt>477b1ed56fc8161c661b70a3d1e8d0e9037df6e2</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-de-15.03.95.tar.xz">kde-l10n-de-15.03.95</a></td>
   <td align="right">35MB</td>
   <td><tt>c4eb4f5625df0589b74ed7c31c6c7ec960e2ba0c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-el-15.03.95.tar.xz">kde-l10n-el-15.03.95</a></td>
   <td align="right">4.7MB</td>
   <td><tt>f5df41943aeadd8b6191b909512573af7f07f076</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-en_GB-15.03.95.tar.xz">kde-l10n-en_GB-15.03.95</a></td>
   <td align="right">3.0MB</td>
   <td><tt>99476c6af0e94874b46a02af3e77da8e342aee15</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-es-15.03.95.tar.xz">kde-l10n-es-15.03.95</a></td>
   <td align="right">20MB</td>
   <td><tt>ede8fe3537dd44947e78f0b04e2b81fd95fce613</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-et-15.03.95.tar.xz">kde-l10n-et-15.03.95</a></td>
   <td align="right">4.3MB</td>
   <td><tt>6012428f345d8b6118705208e3dc30bdc671bc28</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-eu-15.03.95.tar.xz">kde-l10n-eu-15.03.95</a></td>
   <td align="right">2.0MB</td>
   <td><tt>f2e453031a0f04453c904ae6319b11fd2fe5d429</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-fa-15.03.95.tar.xz">kde-l10n-fa-15.03.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>18d3d98bdfa77830ed3af9ede05f1a4dc3d19f5d</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-fi-15.03.95.tar.xz">kde-l10n-fi-15.03.95</a></td>
   <td align="right">2.7MB</td>
   <td><tt>23697a3592fd3baa169ec78e4aec2490392e83f7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-fr-15.03.95.tar.xz">kde-l10n-fr-15.03.95</a></td>
   <td align="right">45MB</td>
   <td><tt>875a53b840fe0aa05ebfe67a1a6e20f92b47f5c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ga-15.03.95.tar.xz">kde-l10n-ga-15.03.95</a></td>
   <td align="right">2.8MB</td>
   <td><tt>c0c2bc246051a93379d5d744e3aaeed88fefb382</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-gl-15.03.95.tar.xz">kde-l10n-gl-15.03.95</a></td>
   <td align="right">3.5MB</td>
   <td><tt>5f9e1087956094466269f6aa7a701122ff2ffac9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-he-15.03.95.tar.xz">kde-l10n-he-15.03.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>85459a463a12606601df4db3085c5211dcf25498</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-hi-15.03.95.tar.xz">kde-l10n-hi-15.03.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>8dea101a13418e47a189b358e14b09469917b979</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-hr-15.03.95.tar.xz">kde-l10n-hr-15.03.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>8ebb1adfa682fee06545c2aa75d433090483a433</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-hu-15.03.95.tar.xz">kde-l10n-hu-15.03.95</a></td>
   <td align="right">4.2MB</td>
   <td><tt>0f02a898ef83b935a41082fbbaba47c92d9f9261</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ia-15.03.95.tar.xz">kde-l10n-ia-15.03.95</a></td>
   <td align="right">1.3MB</td>
   <td><tt>23721897a6c8d2a96181bf7fce98c27e8c0d0ff4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-id-15.03.95.tar.xz">kde-l10n-id-15.03.95</a></td>
   <td align="right">551kB</td>
   <td><tt>e3048c26038f2dc61ebc18c6a057bd34c2a356a4</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-is-15.03.95.tar.xz">kde-l10n-is-15.03.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>9d7f099f78744f9bebccafecd17a297bf6dba7a7</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-it-15.03.95.tar.xz">kde-l10n-it-15.03.95</a></td>
   <td align="right">8.5MB</td>
   <td><tt>e47f4fc13680413c22946610914bc7565b8d7e3c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ja-15.03.95.tar.xz">kde-l10n-ja-15.03.95</a></td>
   <td align="right">2.2MB</td>
   <td><tt>58b656b1fdcbf7803ec6be70a0f246d35ada86f9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-kk-15.03.95.tar.xz">kde-l10n-kk-15.03.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>01f94bb8922fc71ef30bc824a38b196708258cb0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-km-15.03.95.tar.xz">kde-l10n-km-15.03.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>cf6089e223f9e7a8fce8261819d4a9385d4f73a0</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ko-15.03.95.tar.xz">kde-l10n-ko-15.03.95</a></td>
   <td align="right">1.9MB</td>
   <td><tt>a11becdc72f932685648313938dfd5c508e8b4ef</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-lt-15.03.95.tar.xz">kde-l10n-lt-15.03.95</a></td>
   <td align="right">12MB</td>
   <td><tt>d3abe1e71112a2b3ff7733f8ef6a79f13769b4d5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-lv-15.03.95.tar.xz">kde-l10n-lv-15.03.95</a></td>
   <td align="right">2.1MB</td>
   <td><tt>4452974882d0281573f501db5bb8401a111b8288</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-mr-15.03.95.tar.xz">kde-l10n-mr-15.03.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>7ed26bddc040da49c0409611ff57997cb79f1ba8</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-nb-15.03.95.tar.xz">kde-l10n-nb-15.03.95</a></td>
   <td align="right">2.4MB</td>
   <td><tt>6744705e67a9f387d1c528b3c0cef7c95b47652c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-nds-15.03.95.tar.xz">kde-l10n-nds-15.03.95</a></td>
   <td align="right">3.2MB</td>
   <td><tt>2dafd23f2578fd08d639a9ec4478271986887869</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-nl-15.03.95.tar.xz">kde-l10n-nl-15.03.95</a></td>
   <td align="right">13MB</td>
   <td><tt>5a6efa0fc3e80ee436af54c98fac21b54e04a839</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-nn-15.03.95.tar.xz">kde-l10n-nn-15.03.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>5b5207cb7f0e0f32c06bcea6bec756e639a38e41</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-pa-15.03.95.tar.xz">kde-l10n-pa-15.03.95</a></td>
   <td align="right">1.8MB</td>
   <td><tt>d0a1b077c1dbeab0a65577f04bddb5ef05b112c5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-pl-15.03.95.tar.xz">kde-l10n-pl-15.03.95</a></td>
   <td align="right">18MB</td>
   <td><tt>1cc6b713c2da7f7c6b17f09169cccc923eccc79f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-pt-15.03.95.tar.xz">kde-l10n-pt-15.03.95</a></td>
   <td align="right">3.6MB</td>
   <td><tt>330defe8f3c844657fca420998a767da1434a5da</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-pt_BR-15.03.95.tar.xz">kde-l10n-pt_BR-15.03.95</a></td>
   <td align="right">24MB</td>
   <td><tt>63f63e2267c47915ab522ddd5ae66334e0b884e1</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ro-15.03.95.tar.xz">kde-l10n-ro-15.03.95</a></td>
   <td align="right">2.9MB</td>
   <td><tt>5797954cd47c43c16cb643e14b05fd16af5052ac</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ru-15.03.95.tar.xz">kde-l10n-ru-15.03.95</a></td>
   <td align="right">22MB</td>
   <td><tt>22c9baad3cdfca1a39b45a7837575dd9bbcf43c6</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-sk-15.03.95.tar.xz">kde-l10n-sk-15.03.95</a></td>
   <td align="right">4.4MB</td>
   <td><tt>538a843c2b6d23d21e68a55495c4ed1aaa273f7c</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-sl-15.03.95.tar.xz">kde-l10n-sl-15.03.95</a></td>
   <td align="right">3.1MB</td>
   <td><tt>f4ae980c2a97f10546361caf3a2f4f710b54cbe9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-sr-15.03.95.tar.xz">kde-l10n-sr-15.03.95</a></td>
   <td align="right">4.6MB</td>
   <td><tt>ef7af4abc00ac8eb227bf2c05dc0e235a776993f</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-sv-15.03.95.tar.xz">kde-l10n-sv-15.03.95</a></td>
   <td align="right">14MB</td>
   <td><tt>c1332849be0e098d1e3230d306f0edcbdcebd207</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-tr-15.03.95.tar.xz">kde-l10n-tr-15.03.95</a></td>
   <td align="right">3.8MB</td>
   <td><tt>037fbb3315f56a0e8fe8c8dec916feefeec60860</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-ug-15.03.95.tar.xz">kde-l10n-ug-15.03.95</a></td>
   <td align="right">1.7MB</td>
   <td><tt>10379f33b05e29f7c04dc71b02d2115e46718369</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-uk-15.03.95.tar.xz">kde-l10n-uk-15.03.95</a></td>
   <td align="right">26MB</td>
   <td><tt>1d5860a8e114fa514e74c4bf073d99e9a8eb8c21</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-wa-15.03.95.tar.xz">kde-l10n-wa-15.03.95</a></td>
   <td align="right">1.6MB</td>
   <td><tt>2ec9ec455638c54b3209f1236e922308cd71aea9</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-zh_CN-15.03.95.tar.xz">kde-l10n-zh_CN-15.03.95</a></td>
   <td align="right">3.5MB</td>
   <td><tt>54fc3f41584c96af99c3d467a9058dfc0df749b5</tt></td>
</tr>

<tr valign="top">
   <td><a href="http://download.kde.org/unstable/applications/15.03.95/src/kde-l10n/kde-l10n-zh_TW-15.03.95.tar.xz">kde-l10n-zh_TW-15.03.95</a></td>
   <td align="right">2.6MB</td>
   <td><tt>d2fd57993d6c2f67f910f5a4d612be10cb5ef32b</tt></td>
</tr>

</table>
