{{ define "main" }}
<div class="container mb-4" role="main">
  <h1>{{ .Title }}&nbsp;{{ partial "rss_section.html" . }}</h1>

  {{- $pages := where .RegularPagesRecursive "Params.hidden" "ne" "true" }}
  {{- if ne .Site .Sites.First }}
    {{ $pages = $pages | lang.Merge (where (index .AllTranslations 0).RegularPagesRecursive "Params.hidden" "ne" "true") }}
  {{- end }}
  {{- range (.Paginate $pages 10).Pages }}
    <div class="mb-4">
      <div class="text-lighter">{{ partial "i18n_date.html" . }}</div>
      <h3 class="mt-1 h4">{{ partial "fn/i18n_title" . }}</h3>
      <div class="post-entry mt-3">
        {{ partial "fn/i18n_description" . }}
        <a href="{{ .Params.origin | default .Permalink }}" class="d-block mt-2">{{ i18n "read-more" }}</a>
      </div>
    </div>
  {{- end }}

  {{ template "_internal/pagination.html" . }}
</div>
{{ end }}
